



<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    <title>特大喜讯：中央一号文件已下发，11月开始正式实施，不知道的赶紧看！！！</title>



<link href="css/engine.css?v=?v=3.90" rel="stylesheet" type="text/css"/>
<link href="css/views.css?v=?v=3.90" rel="stylesheet" type="text/css"/>
<link href="css/fonts.css?v=?v=1541471918259" rel="stylesheet" type="text/css"/>
<script src="js/Constants.js"></script>
<script src="js/api/CourseAdapter.js"></script>
<script src="js/api/CourseInterface.js"></script>
<script src="js/engine/engine.js?v=?v=3.90"></script>

<script>
 	Constants.HTTP_DOMAIN = 'http://edit.newvane.com';
</script>
<style>
::-webkit-scrollbar:horizontal{height:0px;}
::-webkit-scrollbar { width: 0px; }/* Track & scroll thickness */
::-webkit-scrollbar-track {;opacity: 0 }/* Track color */
::-webkit-scrollbar-thumb { background-color: #a0a0a0;border-radius:4px;}/* Scroll color */
::-webkit-scrollbar-thumb:hover { background-color: #a0a0a0 }/* Scroll hover color */
::-webkit-scrollbar-thumb:active { background-color: #a0a0a0 }/* Scroll click & drag color */
</style>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <style>
        html,body{
            width: 100%;
            height: 100%;
        }
        *{
            margin: 0;
        }

        .url_link{
        background: #ffffff;
    word-break: break-word;
    width: 180px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 5px;
    }

        #report{
        	padding-top:20px;
        }
        #report0{
            height:85%;
            margin-top: 100px;
            width:80%;
            text-align: center;
            margin: 0 auto;
            position: relative;
            bottom: 0;
            z-index: 999;
            margin-top: 3%;
            box-shadow: 2px 4px 4px #ccc;
        }
        #report0, #report1 {
            background-color: #fff;
        }
        #report2{
            background-color: #ff6666;
        }
        .topinfo{
            padding-top: 14px;
            position: relative;
        }
        .textinfo{
            color:#fff;
            font-size: 16px;
            padding-top: 12px;
            text-align: center;
            padding-bottom: 14px;
            font-weight: bold;
        }
        .imginfo{
        	width:30px;
        	height:30px;
        	background:url("img/guanbi.png") no-repeat;
        	position: absolute;
        	right:-7px;
        	top:-7px;
        }
        .report3 {
            margin-top: 25px;
            width: 100%;
            text-align: center;
        }
        .report3 li, ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .report3 ul li {
            padding-bottom: 20px;
            font-size: 14px;
            color: #454545;
        }
        .report3 .active{
            color: #ff6666;
        }
        .report3 .active img{
            display:block;
        }
        .report3 ul li img{
            padding-left: 10px;
            width:15px;
            height:15px;
        }
        .report4 {
            text-align: center;
            margin-top: 5px;
            margin-bottom: 10px;
        }
        .buttonTxt{
            background-color:#ff6666 ;
            width: 80px;
            height:30px;
            font-size: 13px;
            color:#fff;
            border-radius: 5px;
            border:0
        }
    </style>
</head>
<body onload="onLoad()">
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>







  <script>
  	var url = "http://edit.newvane.com/view/view.jsp?flag=MVFzQv&from=groupmessage&isappinstalled=0";
  	var title = "特大喜讯：中央一号文件已下发，11月开始正式实施，不知道的赶紧看！！！";
  	var desc = "特大喜讯：中央一号文件已下发，11月开始正式实施，不知道的赶紧看！！！";
  	var imgUrl = "http://edit.newvane.com/upload/uimages/none/A5CF96E0-D978-4C7D-ACA2-E31E9BFA787A.jpg";
  	var project_id = "b046210ae3e7421b80e5879a355ffa18";
  	var user_id = "0ff5db4936224745be987352416ff1d4";
  	wx.config({
    	debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    	appId: 'wxee7088493374fca4', // 必填，公众号的唯一标识
    	timestamp: 1541471918, // 必填，生成签名的时间戳
    	nonceStr: '7d727d21-383b-4f55-97b0-f46019fa4acc', // 必填，生成签名的随机串
    	signature: 'd2f1b56a1ae5ebc8128f1fe2d260a50f83d86689',// 必填，签名，见附录1
    	jsApiList: ["onMenuShareTimeline","onMenuShareAppMessage","onMenuShareQQ","onMenuShareWeibo","onMenuShareQZone"] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
	});
  </script>


<script type="text/javascript" src="/view/wxShare/js/WxShareAPI.js"></script>
<script>
	function closeComplaint(){
		$("#report").hide();
	}
	function openComplaintPage(){
		$("#report").show();
	}

	function doSumbit(){
		var type = document.getElementById("type").value;
		if(type==""){
			return;
		}
		var params = {};
        params["flag"] = 'MVFzQv';
        params["type"] = type;
        params["className"] = "complaintAction";
        params["methodName"] = "doComplaint";
		xy.NetUtil.post("/view/action.do",{},JSON.stringify(params),function(data){
			$("#report").hide();
	 	});

	}
    function checkType(obj,type){
    	$(".report3 ul li").removeClass("active");
    	$(obj).addClass("active");
    	document.getElementById("type").value=type;
    }

	var coursePlayerTarget = null;

    function onLoad(){
        try{

            //动态生成HTML内容,PC端和手机端不一样的
            var html = xy.System.isMobileDevice() ?
            '            <div id="phone" class="transform-left-top">'+
            '             <div id="btnBack" onclick="onHandler()" style="display:none;width: 40px;background: url(img/back_h_52.png) no-repeat;background-size: 40px 40px;height: 40px;margin-left: 10px;margin-top: 10px;position: fixed;z-index: 10000;"></div>'+
            '                <div id="coursePlayer" class="course-player">'+
            '                </div>'+
			'<div id="report" style="display:none;">'+
					'<div id="report0" >'+
        '<div id="report1">'+
            '<div id="report2">'+
                '<div class="topinfo">'+
                    '<img src="img/jubao001.png" width="50px;">'+
                   ' <div class="textinfo">请选择举报原因</div>'+
                   ' <div class="imginfo" onClick="closeComplaint()"></div>'+
                '</div>'+
            '</div>'+
            '<div class="report3">'+
                '<ul>'+
                    '<li onclick="checkType(this,180);">色情、赌博、毒品</li>'+
                    '<li onclick="checkType(this,181);">谣言、社会负面、诈骗</li>'+
                    '<li onclick="checkType(this,182);">邪教、非法集会、传销</li>'+
                    '<li onclick="checkType(this,183);">医药、整形、虚假广告</li>'+
                    '<li onclick="checkType(this,184);">有奖集赞和关注转发</li>'+
                    '<li onclick="checkType(this,185);">违反国家政策和法律</li>'+
                    '<li onclick="checkType(this,186);">其他原因</li>'+
                '</ul>'+
            '</div>'+
            '<div class="report4">'+
               ' <button name="button" class="buttonTxt" onclick="doSumbit()">提交举报</button>'+
            '</div>'+
        '</div>'+
    '</div>'+
	'</div>'+
            '            </div>' +
            '<div id="preloading" class="preload-loading">'+
            '   <div class="abs-container">'+
            "       <div class='abs-offset'>"+
            '           <div class="circle"></div><div class="circle1"></div>'+
            '       </div>' +
            '   </div>' +
            '</div>'

                    :

            '<div class="publish-view release-view">'+
            '    <div id="phone_container" class="phone_container final-preview publish">'+
            '        <div class="phone release fl">'+


            '            <div class="head">'+
            '                <div class="battery"></div>'+
            '                <div id="title" class="title">'+'特大喜讯：中央一号文件已下发，11月开始正式实施，不知道的赶紧看！！！'+'</div>'+
            '            </div>'+
            '            <div id="phone" class="screen">'+
            '                <div id="coursePlayer" class="course-player">'+
            '                </div>'+
             '<div id="report" style="display:none;">'+
					'<div id="report0" >'+
        '<div id="report1">'+
            '<div id="report2">'+
                '<div class="topinfo">'+
                    '<img src="img/jubao001.png" width="50px;">'+
                   ' <div class="textinfo">请选择举报原因</div>'+
                   ' <div class="imginfo" onClick="closeComplaint()"></div>'+
                '</div>'+
            '</div>'+
            '<div class="report3">'+
                '<ul>'+
                    '<li onclick="checkType(this,180);">色情、赌博、毒品</li>'+
                    '<li onclick="checkType(this,181);">谣言、社会负面、诈骗</li>'+
                    '<li onclick="checkType(this,182);">邪教、非法集会、传销</li>'+
                    '<li onclick="checkType(this,183);">医药、整形、虚假广告</li>'+
                    '<li onclick="checkType(this,184);">有奖集赞和关注转发</li>'+
                    '<li onclick="checkType(this,185);">违反国家政策和法律</li>'+
                    '<li onclick="checkType(this,186);">其他原因</li>'+
                '</ul>'+
            '</div>'+
            '<div class="report4">'+
               ' <button name="button" class="buttonTxt" onclick="doSumbit()">提交举报</button>'+
            '</div>'+
            '<div></div>'+
        '</div>'+
    '</div>'+
	'</div>'+
            '            </div>'+



            '        </div>'+
            '       <!--返回,上一页,下一页按钮-->'+
            '        <div class="buttonGroup_box fl">'+
            '           <div class="returnBtn" onclick="homePage()">'+
            '           </div>'+
            '           <div class="pageBtn previousPage" onclick="prePage()">'+
            '           </div>'+
            '           <div class="pageBtn nextPage" onclick="nextPage()">'+
            '           </div>'+
            '        </div>'+
            '       <!--二维码-->'+
            '        <div class="qrcode-container fr">'+
            '            <p>'+'扫描二维码预览并发给朋友'+'</p>'+
            '            <div id="qrcode" class="qrcode"></div>'+
             '			<div class="url_link">http://' + window.location.host + '/view/view.jsp?flag=MVFzQv</div>'+
            '			<div class="shareBtn_list" style="margin-top:0px;">'+
            '               <a class="qq" href="http://connect.qq.com/widget/shareqq/index.html?url=http%3A%2F%2Fedit.newvane.com%2Fview%2Fview.jsp%3Fflag%3DMVFzQv%26from%3Dgroupmessage%26isappinstalled%3D0&sharesource=qzone&title=特大喜讯：中央一号文件已下发，11月开始正式实施，不知道的赶紧看！！！&pics=http://edit.newvane.com/upload/uimages/none/A5CF96E0-D978-4C7D-ACA2-E31E9BFA787A.jpg&summary=特大喜讯：中央一号文件已下发，11月开始正式实施，不知道的赶紧看！！！&desc=特大喜讯：中央一号文件已下发，11月开始正式实施，不知道的赶紧看！！！"></a>'+
            '               <a class="space" href="https://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=http%3A%2F%2Fedit.newvane.com%2Fview%2Fview.jsp%3Fflag%3DMVFzQv%26from%3Dgroupmessage%26isappinstalled%3D0&sharesource=qzone&title=特大喜讯：中央一号文件已下发，11月开始正式实施，不知道的赶紧看！！！&pics=http://edit.newvane.com/upload/uimages/none/A5CF96E0-D978-4C7D-ACA2-E31E9BFA787A.jpg&summary=特大喜讯：中央一号文件已下发，11月开始正式实施，不知道的赶紧看！！！"></a>'+
            '               <a class="micro-blog" href="http://service.weibo.com/share/share.php?url=http%3A%2F%2Fedit.newvane.com%2Fview%2Fview.jsp%3Fflag%3DMVFzQv%26from%3Dgroupmessage%26isappinstalled%3D0&sharesource=weibo&title=特大喜讯：中央一号文件已下发，11月开始正式实施，不知道的赶紧看！！！&pic=http://edit.newvane.com/upload/uimages/none/A5CF96E0-D978-4C7D-ACA2-E31E9BFA787A.jpg&appkey=2706825840"></a>'+
            '            </div>'+
            '            <p class="explain">'+'想做得跟它一样漂亮吗？'+'</p>'+
            '            <a id="btn-go" class="btn-do publish" href="javascript:onHandler()">'+'马上制作'+'</a>'+
            '        </div>'+
            '    </div>'+
            '</div>'+
            '<div id="preloading" class="preload-loading">'+
            '   <div class="abs-container">'+
            "       <div class='abs-offset'>"+
            '           <div class="circle"></div><div class="circle1"></div>'+
            '       </div>' +
            '   </div>' +
            '</div>';
			 html+='<input type="hidden" name="type" id="type" value=""/>';
            document.body.innerHTML = html;

        	//手机端用黑色图
            if(xy.System.isMobileDevice()){
				if('0' == '1'){
                    var btnBack = document.getElementById("btnBack");
                    btnBack.style.display = "block";
				}
            }else{//PC端就要加载JQ类库
                //PC端就要加载JQ类库，然后生成二维码
                xy.CssScriptLoader("/view/js/libs/plugins/jquery-3.0.js",function(){
                    xy.CssScriptLoader("/view/js/libs/plugins/jquery.qrcode.min.js",function(){
                        $("#qrcode").qrcode({width:170,height:170,text:"http://" + window.location.host + "/view/view.jsp?flag=MVFzQv"});
                    })
                });
            }

            function hidePreloading(){
                var preloading = document.getElementById("preloading");
                if(preloading){
                    preloading.parentNode.removeChild(preloading);
                }
            }
            //获取课件播放器
            var element = document.getElementById("coursePlayer");
            var coursePlayer = new xy.CoursePlayer(element),
                    slideControl;
            coursePlayer.designMode = false;                      //设计模式为true
            coursePlayer.data = new xy.StageData();

 			coursePlayerTarget = coursePlayer;

           var noteData = 'false';
            if(noteData == "true"){
	            coursePlayer.submitQuiz = true;
	            coursePlayer.userId = '0';
	            coursePlayer.username = '米鼠20181106103838';
            }

            new xy.ModelView(coursePlayer,coursePlayer.data);
            //初始化引擎部分的网络访问设置
            xy.NetUtil.domain = Constants.HTTP_DOMAIN;


            //获取工程数据回调
            coursePlayer.addEventListener(xy.Event.DATA_FETCHED,function(event){
                var projectData = coursePlayer.projectData;
                xy.SlideUtil.screenType = projectData.screenType;
				coursePlayer.data.id = "coursePlayer";

                //横屏的话，变成横屏的样子
                if(!xy.System.isMobileDevice() && projectData.screenType == xy.ScreenType.HORIZONTAL){
                    var phone_container = document.getElementById("phone_container");
                    phone_container.class = "phone_container preview horizontal";
                }

                slideControl = new xy.SlideControl(coursePlayer);
                slideControl.isPublish = true;
                function resize(){
                    var screenScaleType = xy.LayoutManager.getScale(projectData,"phone",element);
                    screenScaleType.scale();

                    if(xy.System.isMobileDevice()){

                        var transform = element.style.transform || element.style.webkitTransform || element.style.oTransform || element.style.msTransform || element.style.mozTransform;
                        //横屏旋转返回按钮的处理
                        if(transform.indexOf("rotate(90deg)") > 0 || transform.indexOf("rotate(-90deg)") > 0){
                            var btnBack = document.getElementById("btnBack");
                            btnBack.style.marginLeft = "-50px";
                            btnBack.style.transform = "scaleY(1) scaleX(1) rotate(90deg)";
                            btnBack.style.webkitTransform = "scaleY(1) scaleX(1) rotate(90deg)";
                            btnBack.style.oTransform = "scaleY(1) scaleX(1) rotate(90deg)";
                            btnBack.style.msTransform = "scaleY(1) scaleX(1) rotate(90deg)";
                            btnBack.style.mozTransform = "scaleY(1) scaleX(1) rotate(90deg)";

                        }else{
                            var btnBack = document.getElementById("btnBack");
                            btnBack.style.marginLeft = "10px";
                            btnBack.style.transform = "";
                            btnBack.style.webkitTransform = "";
                            btnBack.style.oTransform = "";
                            btnBack.style.msTransform = "";
                            btnBack.style.mozTransform = "";
                        }
                    }

                }
                window.addEventListener("resize",function(){
                    if(xy.System.isMobileDevice()){
                        setTimeout(function(){//延迟执行，直接执行可能宽高不对
                            resize();
                        },100);
                    }
                });
                //处理缩放
                if(xy.System.isMobileDevice()){
                    resize();
                }
                //PC端，如果是横屏，变成横屏
                if(!xy.System.isMobileDevice() && projectData.screenType === xy.ScreenType.HORIZONTAL){
                    xy.DomUtil.addClass(phone_container,"horizontal");
                }

                //选择第一页
                if(projectData.numChildren > 0){
                    coursePlayer.currentPage = projectData.children[0];
                    //页面加载完毕，隐藏进度
                    coursePlayer.addEventListener(xy.CoursePlayerEvent.PAGE_CHANGED,function(){
                        hidePreloading();
                    })
                }else{//没页面。无限加载吧
                    hidePreloading();
                }

            })
            var params = {};
            params["flag"] = 'MVFzQv';
            params["className"] = "viewAction";
            params["methodName"] = "getProject";
            coursePlayer.pageAction = "viewAction";
            coursePlayer.pageMethod = "getPage";
            //获取工程数据
            coursePlayer.fetchCourse("/view/action.do",params);
        }catch(e){
            alert(e.toString());
            alert(e.message);
        }
        //
    }

    function homePage(){
        if(coursePlayerTarget == null)
            return;
        coursePlayerTarget.hideOldPageAndShowCurrentPage(coursePlayerTarget.gotoPage(coursePlayerTarget.data.children[0].id,null,true));
    }

    function prePage(){
        if(coursePlayerTarget == null)
            return;
        coursePlayerTarget.hideOldPageAndShowCurrentPage(coursePlayerTarget.prePage());
    }

    function nextPage(){
        if(coursePlayerTarget == null)
            return;
        coursePlayerTarget.hideOldPageAndShowCurrentPage(coursePlayerTarget.nextPage());
    }

    function onHandler(){
    	if('0' == '1'){
    		window.history.back();
    	}else{
    		window.location.href =  'http://mishu.newvane.com/ms/course/myCourse.jsp';
    	}
    }
</script>
</body>
</html>