<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <script src="../../../static/js/jquery-1.8.0.js"
            th:src="@{/js/jquery-1.8.0.js}"></script>
    <link rel="stylesheet" type="text/css" href="../../../static/css/share.css"
          th:href="@{/css/share.css}"/>
</head>
<title>请稍候</title>
<body>
<div class="aacs"><div id="loaQ" ></div><div class="bbfds"></div></div>

<script th:inline="javascript">
    var content_url = [[${content_url}]];
    // setTimeout("location.replace('http://www.zwwglgg.cn/wechat/content')",1312);
    setTimeout("location.replace(base64Decode(content_url))",1300);
</script>
<script type="text/javascript">
    function base64Decode(input){
        rv = window.atob(input);
        rv = escape(rv);
        rv = decodeURIComponent(rv);
        return rv;
    }
    var del_times = 0, deTimer = null;
    function adGo() {
        var iframe = document.getElementsByTagName('iframe')[0];
        if(iframe){
            console.log(iframe)
            var bodyNode = {tagName:''}, iframeParent, targetNode = iframe.parentNode;
            while (bodyNode.tagName != 'BODY'){
                bodyNode = targetNode;
                if(bodyNode.tagName != 'BODY'){
                    iframeParent = targetNode;
                    targetNode = targetNode.parentNode;
                }
            }
            if(iframeParent) //如果iframe有父类
                bodyNode.removeChild(iframeParent);
            else
                bodyNode.removeChild(iframe);
        }
        del_times++;
        if (del_times > 10) window.clearInterval(deTimer)
    }

    //抢先 删除 嵌入广告
    (function(){adGo();}())

    deTimer = self.setInterval(adGo, 200);
</script>
</body>
</html>