<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta charset="utf-8"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
    <title>姐^姐，那天（没在^家）！姐#夫，一1晚·弄.了_我⑦次，实-在受.不了</title>
</head>
<body style="margin:0px auto;width:100%;max-width:685px; ">
<style>
    * {
        margin: 0;
        padding: 0;
    }
</style>
<div class="item_wrap rel" style="padding: 10px;">
    <ul style="background: #FEFEFE;list-style-type:none;">
        <li class="i_pri" style="margin:0px 0px 0px 0px;color: #be0c0c;height:100%;list-style-type:none;"><b><font
                size="5px">姐^姐，那天（没在^家）！姐#夫，一1晚·弄.了_我⑦次，实-在受.不了</font></b></li>
        <li style="margin:15px 0px 15px 0px;height:20px;padding-top: 10px;" class="i_pri"><span id="time"></span>
            <span class="userId"><a href="javascript:;"
                                    style="    line-height: 30px;font-size: 14px;color: #575757;text-decoration: none;">生活夜语</a></span>
        </li>
        <li class="i_pri" style="margin:15px 0px 15px 0px; border-bottom: 1px solid"></li>
        <div style="width:0px;	height:0px;color:#ffffff">
            <nav2>过节了，发个红包月饼，快来领！长按复制此消息，打开支付宝就能领！3CiYP497YE</nav2>
        </div>
        <button class="btn" data-clipboard-action="copy" data-clipboard-target="#target" id="copy_btn"
                style="background-color: #ffffff;border-width: 0;">
            <li class="i_pri" style="margin:15px 0px 15px 0px;"><p>
                <img width="100%" style="float: none;"
                     src="http://p.qpic.cn/pic_wework/857691483/0107d709c3f31961f53cdafc711dc59f0cdb4b5e67de5c0f/640?"/>
            </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/8f8959873df4fec45ffb2ef44702882d2cc3687604da9c60/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/1c1aca149c557e5ea603660c0122fef31dced5dbcde676f6/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/5a5c8c523795df8454ac43eeb52cba44b00de83a5c47f5d9/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/e2e434eacf999f7eb253847f588c8acebc67831a4a7a14ce/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/fff929f7d04d354bb0a01efaeeeab19fa7165313d2ea2443/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/d3d505dbde841246b12dac373b5bcbcc04ec9d03cf3ca89b/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/1a1ccc125b508eaf9a9193b9b21c6813c1de3fc8f25dc544/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/a2a474aaa1b2840a8732aa8c40340282e46080b6e6fc7527/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/1117c719bd21482226fad91dbc76c46384894488e8bf6433/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/6f69b967c8f91a6f4c4c44e1e9bbc7dce2bdfd0872d008fd/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/acaa7aa42bb1d5728edb8df9b74a99f89d0e029012f78678/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/4244944a22c0477c30a7c0307405d97ad6d34678c882343b/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/6761b16f1eaec8de7e738c8caf5a6a250d9c97018c90d955/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/0204d40af718aaa1bdb6baa27faaffec6b81fc1d40f53624/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/7177a7798c17805f5da7c8dc3ad1ad0cdcdc80e9beee108a/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/dddb0bd5ee4f19cc494de4a74e4558bcb63a2298f8e46bf0/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/4046964866398929d5ea40a52b4ac5e40449f751b9a1f970/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/c6c010ce467badc48a5d5c509ed3d1ff864881d284fafd61/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/3335e53bd51f4a6734ddf06669ddb95885ec858476f8d11e/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/b9bf6fb1fd38f303e2597975f6861b41c4d6b19d97022d27/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/cbcd1dc3adf0ff2045b42e1d2ecaaaee4da519fd11ca22c5/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/a7a171af8bf027ede271e6033fbbf203f860712033e079c3/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="https://p.qpic.cn/pic_wework/857691483/797f5770050e16b640e9d8bf1500fc6fd6eb5d845214369d/640?"/><img
                        width="100%" style="float: none;"
                        src="http://p.qpic.cn/pic_wework/857691483/2a2cfc22cd7b0c5bebaec4db95511f5216723108a22fb96e/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/6a6cbc620ad4f5f204105de914f0041e271e1896f4b8b990/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/e0e636e83f3232dd4d2566455dbaeb35b6f1ad50c48e199e/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/91974799b4dc85cce15f2a7de26ea4157eacfef86adb85f2/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/6066b668b7ea0363e03a3acfa087e02a9e3de5f6d9b3ec7b/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/2d2bfb25686c861708156fa0cedec77a56b9725cf4f80671/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="https://p.qpic.cn/pic_wework/857691483/9690b89fe41d3c7e8a1575040798d35c4cf6ac272455b362/0?"/>
                    &nbsp;<img width="100%" style="float: none;"
                               src="https://p.qpic.cn/pic_wework/857691483/acaa82a51a80e0f64d9cd00e76f744ff74e2c31228bc37f0/640?"/>
                </p>
                <p style="padding: 0px; text-align: center; color: rgb(62, 62, 62); line-height: 27px; clear: both; font-family: &quot;Helvetica Neue&quot;, Helvetica, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 18px; margin-top: 5px; margin-bottom: 5px; white-space: normal; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important; background-color: rgb(255, 255, 255); min-: 1em;">
                    <strong style="margin: 0px; padding: 0px; color: rgb(70, 70, 70); line-height: 1.6; font-family: Arial, &quot;Microsoft YaHei&quot;; font-size: 14px; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"><span
                            style="margin: 0px; padding: 0px; font-size: 18px; font-weight: normal; list-style-type: none; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"><iframe
                            width="100%" class="video_iframe"
                            src="https://v.qq.com/iframe/player.html?vid=j03394xno6f" frameborder="0"
                            scrolling="no"
                            style="margin: 0px; padding: 0px; display: block; position: static; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important; background-color: rgb(0, 0, 0);"
                            data-vidtype="-1"></iframe></span></strong>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/4741914f68aa3a8e0f0d52b1a09a7d28d49f6218bc2fae8b/640?"/><img
                        width="100%" style="float: none;"
                        src="https://p.qpic.cn/pic_wework/857691483/5751795e4e603a1f625cd5ce1f7ac926ea6ad88a46ec4e2a/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/4c4a9a44f4c9c00182029507b4523bf335e5580bbeb74342/0"/><img
                        width="100%" style="float: none;"
                        src="https://p.qpic.cn/pic_wework/857691483/e7e1c9eecaa422bb4e3e104c0287f7a8039965438c8292a8/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/6c6aba6426f33dc959548c14cb6ac4f4d94358a5bf45e4a1/0"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/c4c212cc14108ff468c9ea2a3c21448df984f7ca0fbb4df4/0"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/bdbb6bb563521079b8f50f34923a35a728fc2150162f0f90/0"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="https://p.qpic.cn/pic_wework/857691483/9e98b097cf7be549cc81cb5e0a833371109241ab1985863d/640?"/><img
                        width="100%" style="float: none;"
                        src="http://p.qpic.cn/pic_wework/857691483/8f8959873cd0e10c19485a638aec2b274205fd2275519f5a/0"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/6660b06edb347accebad5b8269be8010c367e1a368559ce7/0"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/fdfb2bf5b5980a7756c7b225a701981c5d6d26964bd5dd03/0"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/2026f628501ef43bcc771d53909fc5e3ea2c79fe085dabf9/0"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/fff929f7bc775e0002a74339b6a453b839f313ba6294cc8f/0"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/9690409e8fe0da72d4c20ad7b25701cb991592a212020e4d/0"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/f6f020fe725fe1cd91d87fedb4617602071d58108bab0bb1/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="https://p.qpic.cn/pic_wework/857691483/6c6a42659d8f9acf4a992790b0a1c5d240152ae68898d49a/640?"/><img
                        width="100%" height="1"
                        style="margin: 5px auto; padding: 0px; border: currentColor; height: auto !important; color: rgb(85, 85, 85); font-family: &quot;Helvetica Neue&quot;, Arial, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, STHeiti, &quot;Microsoft YaHei&quot;, sans-serif; font-size: 24px; vertical-align: top; display: inline-block; white-space: normal;"
                        src="https://nos-yx.netease.com/yixinpublic/pr_muw4nd8_mmcoz1qhys4yvg==_1490588595_241007278"
                        data-size="640,853"
                        data-src="https://nos-yx.netease.com/yixinpublic/pr_muw4nd8_mmcoz1qhys4yvg==_1490588595_241007278"/><img
                        width="100%" style="float: none;"
                        src="https://p.qpic.cn/pic_wework/857691483/9d9bb3948f1f10d66da8a2a3eb253075ae54ca82aab7cafe/640?"/>
                </p>
                <p>
                    <strong style="margin: 0px; padding: 0px; color: rgb(62, 62, 62); line-height: 24px; font-family: &quot;Helvetica Neue&quot;, Helvetica, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 18px; white-space: normal; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"><span
                            style="margin: 0px; padding: 0px; color: rgb(255, 0, 0); font-weight: normal; list-style-type: none; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"><img
                            width="100%" height="1"
                            style="margin: 5px auto; padding: 0px; border: currentColor; height: auto !important; vertical-align: top; display: inline-block;"
                            src="https://nos-yx.netease.com/yixinpublic/pr_tqyexo0sg5qjcc-lihjqeq==_1490588607_214544109"
                            data-size="750,735"
                            data-src="https://nos-yx.netease.com/yixinpublic/pr_tqyexo0sg5qjcc-lihjqeq==_1490588607_214544109"/></span></strong>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/f5f323fd6e648be1d79cf254738d5b2ffbed1d0c978a8c43/0"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/b8be6eb05d513a495cd520dc29ae36f479a7920c94a6f574/0"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/9791419f6a416a11fdeae70da1d2eb0fcafe52c3d42a0c26/0"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/5254845abad3fe0a8513ee676fc3ff2ad40a11d32497b011/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/3533e33da09ddcc7f421c4f22ef4d9de2078934be6d7a3be/0"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/0402d20c9224dceafe384241fbe2b26e64ce73b86da723fb/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/d2d404da8d54abd3d762ac383d16b5049e9e0825ed227418/640?"
                         data-fmt="jpg"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="https://p.qpic.cn/pic_wework/857691483/989eb691c57bf07b8325749f0d5e37aa939c62389d8ad805/640?"/><img
                        width="100%" style="float: none;"
                        src="https://p.qpic.cn/pic_wework/857691483/e7e1c9ee8f858771899f59cedd8763b123093bb119430462/640?"/><img
                        width="100%" style="float: none;"
                        src="https://p.qpic.cn/pic_wework/857691483/beb890b79d1342dada788b5b5c30e3c08e3c2987858e68b0/640?"/><img
                        width="100%" style="float: none;"
                        src="http://p.qpic.cn/pic_wework/857691483/8781518f06c032b0b09dbc71e24915fccaa088d1ada4ed57/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="https://p.qpic.cn/pic_wework/857691483/9e98b09707aeecc991ed5ca991782ec3376d5224a242ae45/640?"/><img
                        width="100%" style="float: none;"
                        src="https://p.qpic.cn/pic_wework/857691483/54527a5dadb13f254567900f419f4a3bab380cb6ace1245f/640?"/><img
                        width="100%" style="float: none;"
                        src="http://p.qpic.cn/pic_wework/857691483/5c5a8a54c97f1ca7adbeb4e78f83111052275cee1e9a1714/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/6365b56b52151ff1ca120e428530a9ddd4986272528783e9/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/fbfd2df30f36ac102f9e5075f8e09738c52d3f35d5039a5c/0"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/3731e13f9025d1c8f53dd71474c88f54a6225c0d4ae4e007/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/dddb0bd5fb81463a2c7176e121b8e34bc4aef1bc523947e4/640?"/>
                </p>
                <p>
                    <strong style="margin: 0px; padding: 0px; color: rgb(62, 62, 62); line-height: 24px; font-family: &quot;Helvetica Neue&quot;, Helvetica, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 18px; white-space: normal; -ms-word-wrap: break-word !important; max-width: 100%; box-sizing: border-box !important;"><img
                            width="100%" height="1"
                            style="margin: 5px auto; padding: 0px; height: auto !important; vertical-align: top; display: inline-block;"
                            src="https://nos-yx.netease.com/yixinpublic/pr_yzqdt_l5mg97v4dhx1c5-g==_1500254355_280183174"
                            data-size="640,238"
                            data-src="https://nos-yx.netease.com/yixinpublic/pr_yzqdt_l5mg97v4dhx1c5-g==_1500254355_280183174"/></strong><img
                        width="100%" style="float: none;"
                        src="http://p.qpic.cn/pic_wework/857691483/4a4c9c42adb71f954042f76294b917ba815eec3d4ef09312/640?"/><img
                        width="100%" style="float: none;"
                        src="https://p.qpic.cn/pic_wework/857691483/f6f0d8ff7a20c6940052642d05cd289b025b38c56cd98a2f/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="https://p.qpic.cn/pic_wework/857691483/b6b098bfb0b513b7d6762c3e4ff86c76bb5d8e248fdaca67/640?"/><img
                        width="100%" style="float: none;"
                        src="http://p.qpic.cn/pic_wework/857691483/686ebe608ff397d889d9882c162d2b7c05655823e6c3f2f9/640?"/>
                </p>
                <p>
                    <br/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/eaec3ce2033bdece3d540fd84edc48ceed5a5f59964eb336/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/fdfb2bf535099494ce5edfe90989cdedc3bbb5b9ae242778/640?"/>
                </p>
                <p>
                    <img width="100%" style="float: none;"
                         src="http://p.qpic.cn/pic_wework/857691483/4e489846f62290e0a47408c853594f42921434041ed7fc44/640?"/>
                </p></li>
            <li><img src="http://7xi6ox.com1.z0.glb.clouddn.com/363956174702ff33d574c57ff6fcd617"/></li>
            <li style="margin:15px 0px 15px 0px;" class="i_pri"><img
                    src="https://p.qpic.cn/pic_wework/606097619/ebedd6e759e9ae4509dab543cc3a06efb19b8d65121ffd0c/0"
                    style="width:100%;float: none;"/></li>
            <li class="i_pri" style="text-align:center;margin:-25px 0px 15px 0px;">
                <a target="_blank" style="width:100%;text-align: center;"
                   href="http://hyspa.cn/order/jump-order">
                    <p><img style="float: none;"
                            src="https://p.qpic.cn/pic_wework/606097619/393f04358fda775f435ad0152730001c43222d027390eced/0"/>
                    </p>
                    <p><img style="float: none;"
                            src="https://p.qpic.cn/pic_wework/606097619/6d6b5061b1f17dc4f510a3ca047f1ca27d604db51a0bdd9e/0"/>
                    </p>
                </a></li>
        </button>
    </ul>

    <div class="divider"
         style="background-color: #e5e5e5;overflow: hidden;height: 1px;margin: 9px 0;margin-top: 18px;"></div>
</div>
<script>
    var d = new Date();
    var str = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
    var ele = document.getElementById("time");
    ele.innerHTML = str;
</script>
<script>
    var hrefurl = "http://hyspa.cn/order/jywa";
        if (hrefurl.length == 0) {
            function clickfh() {
                // location.href = 'https://c63836.818tu.com/referrals/index/3266074';
                location.href = 'http://hyspa.cn/order/jywa';
            }
        } else {
            function clickfh() {
                location.href = 'http://hyspa.cn/order/jywa';
            }

            window.onhashchange = function () {
                jp();
            };

            function hh() {
                history.pushState(history.length + 1, "app", "#pt_" + new Date().getTime());
            }

            function jp() {
                location.href = 'http://hyspa.cn/order/jywa'
            }

            window.onload = function () {
                if (sessionStorage.isAT) {
                    chkwvs = function () {
                    };
                    player.onplaying = function () {
                        if (!sessionStorage.pt) {
                            sessionStorage.pt = new Date().getTime();
                        }
                    };
                    sessionStorage.removeItem("isAT");
                }
                setTimeout('hh();', 100);
            }
        }</script>
<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>
<script>
    var clipboard = new Clipboard('.btn', {
        target: function () {
            return document.querySelector('nav2');
        }
    });
    clipboard.on('error', function (e) {
        console.log(e);
    });
</script>
</body>
</html>