<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/html5.min.js"></script>
    <script type="text/javascript" src="/js/respond.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/PIE_IE678.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8" ></script>
    <![endif]-->
    <link href="/lib/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/h-ui.admin/css/H-ui.admin.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/icheck/icheck.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>文章编辑</title>
</head>
<body>
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-article-add">
        <div class="row cl">
            <div class="formControls col-10">
                <span class="c-red">*</span><strong>文章ID：</strong>
                <input type="text" class="input-text" value="" placeholder="" id="articleId" name="articleId" lay-verify="required" />
            </div>
        </div>
        <div class="row cl">
            <div class="formControls col-10">
                <span class="c-red">*</span><strong>文章作者：</strong>
                <input type="text" class="input-text" value="" placeholder="" id="author" name="author" lay-verify="required" />
            </div>
        </div>
        <div class="row cl">
            <!--<label class="form-label"><span class="c-red">*</span>文章标题：</label>-->
            <div class="formControls col-10">
                <span class="c-red">*</span><strong>文章标题：</strong>
                <input type="text" class="input-text" value="" placeholder="" id="title" name="title" lay-verify="required" />
            </div>
        </div>
        <div class="row cl">
            <div class="formControls col-10">
                <span class="c-red">*</span><strong>背景音乐连接：</strong>
                <input type="text" class="input-text" value="" placeholder="" id="bgmUrl" name="bgmUrl" lay-verify="required" />
            </div>
        </div>
        <div class="row cl">
            <div class="formControls col-10">
                <span class="c-red">*</span><strong>分享标题：</strong>
                <input type="text" class="input-text" value="" placeholder="" id="share_title" name="shareTitle" lay-verify="required" />
            </div>
        </div>
        <div class="row cl">
            <div class="formControls col-10">
                <span class="c-red">*</span><strong>分享图片连接：</strong>
                <input type="text" class="input-text" value="" placeholder="" id="share_img_url" name="shareImgUrl" lay-verify="required" />
            </div>
        </div>
        <div class="row cl">
            <div class="formControls col-10">
                <span class="c-red">*</span><strong>分享描述：</strong>
                <input type="text" class="input-text" value="" placeholder="" id="share_describe" name="shareDescribe" lay-verify="required" />
            </div>
        </div>
        <div class="row cl">
            <div class="formControls col-10">
                <strong>数据迁移连接：</strong>
                <input type="text" class="input-text" value="" placeholder="无需数据迁移不用填写此项" id="dataTransferUrl" name="dataTransferUrl"/>
            </div>
        </div>
         <div class="row cl">
            <div class="formControls col-10">
                  <strong>相关统计代码：</strong>
                <input type="text" class="input-text" value="" placeholder="相关统计js代码" id="statistical" name="statistical"/>
            </div>
        </div>
         <div class="row cl">
            <div class="formControls col-10">
                  <strong>原生返回按钮链接：</strong>
                <input type="text" class="input-text" value="" placeholder="返回按钮链接" id="gobackUrl" name="gobackUrl"/>
            </div>
        </div>
         <div class="row cl">
            <div class="formControls col-10">
                  <strong>图片返回按钮链接：</strong>
                <input type="text" class="input-text" value="" placeholder="原生返回链接" id="imageGobackUrl" name="imageGobackUrl"/>
            </div>
        </div>
        <div class="row cl">
            <div class="formControls col-10">
                  <strong>阅读原文链接：</strong>
                <input type="text" class="input-text" value="" placeholder="阅读原文链接" id="readOriginalUrl" name="readOriginalUrl"/>
            </div>
        </div>
         <div class="row cl">
            <div class="formControls col-10">
                  <strong>iframe嵌入链接：</strong>
                <input type="text" class="input-text" value="" placeholder="iframe嵌入链接" id="shareSuccessFailUrl" name="shareSuccessFailUrl"/>
            </div>
        </div>
        <div class="row cl">
            <div class="formControls col-10">
                  <strong>订单图片链接：</strong>
                <input type="text" class="input-text" value="" placeholder="订单图片链接" id="orderImgUrl" name="orderImgUrl"/>
            </div>
        </div>
         <div class="row cl">
            <div class="formControls col-10">
                  <strong>订单文案链接：</strong>
                <input type="text" class="input-text" value="" placeholder="订单文案链接" id="orderCopyUrl" name="orderCopyUrl"/>
            </div>
        </div>
        <div class="row cl">
             <br/>
            <label>&nbsp;&nbsp;&nbsp;<strong>h5场景：</strong>
                <input type="radio" name="hcj" lay-filter="erweima" value="1" title="是" checked=""/>是
                <input type="radio" name="hcj" lay-filter="erweima" value="0" title="否" />否
            </label>
            <br/>
            <br/>
            <label>&nbsp;&nbsp;&nbsp;<strong>开启防盗代码：</strong>
                <input type="radio" name="orderImg" lay-filter="erweima" value="1" title="是" checked=""/>是
                <input type="radio" name="orderImg" lay-filter="erweima" value="0" title="否" />否
            </label>
            <br/>
            <br/>
            <label>&nbsp;&nbsp;&nbsp;<strong>是否强制分享：&nbsp;&nbsp;&nbsp;</strong>
               <input type="radio" name="forcedShare" onchange="forcedChange(this)" lay-filter="erweima" value="1" title="是" checked=""/>是
               <input type="radio" name="forcedShare" onchange="forcedChange(this)" lay-filter="erweima" value="0" title="否" />否
            </label>
            <br/>
            <br/>
            <div class="formControls col-2 noShareDomain" style="display: none">
               <strong>非分享域名：</strong>
               <!--<input type="text" class="input-text" value="" placeholder="如：baidu.com" id="noShareDomain" name="noShareDomain" lay-verify="required" />-->
               <textarea  placeholder="请按行输入域名...."  rows="10" cols="50" id="noShareDomain" name="noShareDomain" lay-verify="required"></textarea>
               <br/>
            </div>
        </div>
        <div class="row cl">
            <div class="formControls col-10">
                  <strong style="text-decoration: underline;color: #0e90d2;cursor: pointer" onclick="imageUrlsChange()">点击修改文章图片内容</strong>
            </div>
             <div class="formControls col-2 imagesUrlClass" style="display: none">
                 <br/>
                <textarea  placeholder="请输入图片连接信息...."  rows="20" cols="100" id="imagesUrl" name="imagesUrl"></textarea>
             </div>
         </div>
        <div class="row cl">
            <div class="col-10 col-offset-2">
                <input class="btn btn-primary radius" type="submit" value="修改并发布文章" />
                <button onClick="layer_close();" class="btn btn-default radius" type="button">
                    &nbsp;&nbsp;取消&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/js/jquery-1.8.0.js"></script>
<!--<script type="text/javascript" src="/js/layer.js"></script>-->
<script type="text/javascript" src="/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="/lib/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/lib/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script src="../../static/lib/layui/layui.js" charset="utf-8"
        th:src="@{/lib/layui/layui.js}"></script>
<script type="text/javascript" src="../../static/js/xadmin.js"
        th:src="@{/js/xadmin.js}"></script>
<script type="text/javascript" >
    $(function(){
            $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form-article-add").validate({
            rules:{
                title:{
                    required:true,
                },
                bgmUrl:{
                    required:true,
                },
                shareTitle:{
                    required:true,
                },
                shareDescribe:{
                    required:true,
                },
                shareImgUrl:{
                    required:true,
                },
                author:{
                    required:true,
                },
                outerImgUrl:{
                    required:true,
                },
                imagesUrl:{
                    required:true,
                },

            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type:'post',
                    url:'/article/article-edit',
                    async:false,
                    success: function(data){
                        // layer.msg('添加成功!',{icon:1,time:1000});
                        layer.alert('修改成功', {icon: 1},function (index) {
                            layer.close(index);
                            parent.layer.close(index);
                            window.parent.location.reload(true);
                        });
                    },
                    error: function(XmlHttpRequest, textStatus, errorThrown){
                        layer.msg('error!',{icon:1,time:1000});
                    }
                });
            }
        });
    });
    function addThirdImgUrl() {
        $("#third-img-url").append($("#third-img-url div:first-child").clone(true))
    }
    function delContent(_this) {
        $(_this).parent().remove();
    }
    function child(title,_this,arcitle) {
        $("#articleId").val(arcitle.id);
        $("#title").val(arcitle.title);
        $("#bgmUrl").val(arcitle.bgmUrl);
        $("#share_title").val(arcitle.shareTitle);
        $("#share_img_url").val(arcitle.shareImgUrl);
        $("#share_describe").val(arcitle.shareDescribe);
        $("#author").val(arcitle.author);
        $("#dataTransferUrl").val(arcitle.dataTransferUrl);
        $("#gobackUrl").val(arcitle.gobackUrl);
        $("#imageGobackUrl").val(arcitle.imageGobackUrl);
        $("#readOriginalUrl").val(arcitle.readOriginalUrl);
        $("#shareSuccessFailUrl").val(arcitle.shareSuccessFailUrl);
        $("#orderImgUrl").val(arcitle.orderImgUrl);
        $("#orderCopyUrl").val(arcitle.orderCopyUrl);
        $("#statistical").val(arcitle.statistical);
        if(arcitle.isOrderImg) {
            $("input[name='orderImg'][value='1']").attr("checked",true);
        } else {
            $("input[name='orderImg'][value='0']").attr("checked",true);
        }
        if(arcitle.isPublish) {
            $("input[name='hcj'][value='1']").attr("checked",true);
        } else {
            $("input[name='hcj'][value='0']").attr("checked",true);
        }
        if(arcitle.forcedShare) {
            $("input[name='forcedShare'][value='1']").attr("checked",true);
        } else {
            $("input[name='forcedShare'][value='0']").attr("checked",true);
            var domainStr = arcitle.noShareDomain;
            var noshareDomains = domainStr.split(",");
            var domainTextrea = '';
            $.each(noshareDomains,function(i,domain) {
                domainTextrea = domainTextrea + domain + '\n';
            })
            $('#noShareDomain').val(domainTextrea);
            $('.noShareDomain').show();
        }
    }
    function forcedChange(_this) {
        var forcedVal = $(_this).val();
        if(forcedVal == '1') {
            $('.noShareDomain').hide();
            $('#noShareDomain').val('');
        } else if(forcedVal == '0') {
             $('.noShareDomain').show();
        }
     }
    /**
    * 图片修改
    */
   function imageUrlsChange() {
        $(".imagesUrlClass").show();
        $(".imagesUrlClass").val('');
   }
</script>
</body>
</html>