<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/html5.min.js"></script>
    <script type="text/javascript" src="/js/respond.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/PIE_IE678.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8" ></script>
    <![endif]-->
    <link href="/lib/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/h-ui.admin/css/H-ui.admin.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/icheck/icheck.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css"/>
    <link href="/lib/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="/js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>文章编辑</title>
</head>
<body>
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-article-add">
        <div class="mt-20">
        		<table class="table table-border table-bordered table-bg table-sort">
        			<thead>
        				<tr class="text-c">
        					<th width="70">ID</th>
        					<th width="200">缩略图</th>
        					<th width="150">图片连接</th>
        					<th width="150">操作</th>
        				</tr>
        			</thead>
        			<tbody>
        				<tr class="text-c" th:if="${not #lists.isEmpty(articleImgs)}" th:each="articleImg,iterStat:${articleImgs}">
        					<td th:text="${articleImg.id}"></td>
        					<td class="text-l"><img  th:src="${articleImg.thirdImgPath}" style="width: 200px;height: 200px"/> </td>
        					<td>
        					  <input class="text-l" th:value="${articleImg.thirdImgPath}" size="80"></input>
                            </td>
        					<td class="f-14 product-brand-manage"><a style="text-decoration:none" onClick="product_brand_edit('品牌编辑','codeing.html','1')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="active_del(this,'10001')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
        				</tr>
        			</tbody>
        		</table>
        	</div>
    </form>
</div>
<script type="text/javascript" src="/js/jquery-1.8.0.js"></script>
<!--<script type="text/javascript" src="/js/layer.js"></script>-->
<script type="text/javascript" src="/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="/lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="/lib/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/lib/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script src="../../static/lib/layui/layui.js" charset="utf-8"
        th:src="@{/lib/layui/layui.js}"></script>
<script type="text/javascript" src="../../static/js/xadmin.js"
        th:src="@{/js/xadmin.js}"></script>
<script type="text/javascript" >
    $(function(){
            $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });

        $("#form-article-add").validate({
            rules:{
                title:{
                    required:true,
                },
                bgmUrl:{
                    required:true,
                },
                shareTitle:{
                    required:true,
                },
                shareDescribe:{
                    required:true,
                },
                shareImgUrl:{
                    required:true,
                },
                author:{
                    required:true,
                },
                outerImgUrl:{
                    required:true,
                },

            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type:'post',
                    url:'/article/article-add-other',
                    async:false,
                    success: function(data){
                        // layer.msg('添加成功!',{icon:1,time:1000});
                        layer.alert('添加成功', {icon: 1},function (index) {
                            layer.close(index);
                            parent.layer.close(index);
                            location.reload();
                        });
                    },
                    error: function(XmlHttpRequest, textStatus, errorThrown){
                        layer.msg('error!',{icon:1,time:1000});
                    }
                });
            }
        });
    });
    function addThirdImgUrl() {
        $("#third-img-url").append($("#third-img-url div:first-child").clone(true))
    }
    function delContent(_this) {
        $(_this).parent().remove();
    }
</script>
</body>
</html>