<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head th:replace="common/common_header :: common_header">
  <title>域名管理</title>
  <!--<link rel="stylesheet" href="css/index.css" />-->
</head>
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">文章管理</a>
        <a>
          <cite>文章列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="开始日" name="start" id="start"/>
          <input class="layui-input" placeholder="截止日" name="end" id="end"/>
          <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input"/>
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <!--<button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>-->
        <button class="layui-btn"><i class="layui-icon"></i>添加</button>
        <!--<span class="x-right" style="line-height:40px">共有数据：88 条</span>-->
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>文章作者</th>
            <th>文章概要</th>
            <th>时间</th>
            <th>图片</th>
            <th>是否复制文章</th>
            <th>是否刷新文章</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr th:if="${not #lists.isEmpty(wyArticles)}" th:each="wyArticle,iterStat:${wyArticles}">
            <td class="article-id" th:text="${wyArticle.id}"></td>
            <td class="author" th:text="${wyArticle.getAuthor()}"></td>
            <td class="title" th:text="${wyArticle.getTitle()}"></td>
            <td class="updateTime" th:text="${#dates.format(wyArticle.getUpdateTime(),'yyyy/MM/dd HH:mm:ss')}"></td>
           <td class="td-status">
                <span  th:text="图片列表" class="layui-btn layui-btn-normal layui-btn-mini" th:onclick="'showImages(this,\''+${wyArticle.id}+'\')'"></span>
            </td>
            <td>
              <span th:text="复制文章" class="layui-btn layui-btn-normal layui-btn-mini"  th:onclick="'article_copy(this,\''+${wyArticle.id}+'\')'"></span>
            </td>
            <td>
              <span th:text="刷新文章" class="layui-btn layui-btn-normal layui-btn-mini"  th:onclick="'article_refresh(this,\''+${wyArticle.id}+'\')'"></span>
            </td>
            <td class="td-manage">
             <!-- <a th:if="${wyArticle.isPublish}" onclick="member_stop(this,'10001')" href="javascript:;"  title="发布">
              <i class="layui-icon">&#xe601;</i>
             </a>
              <a th:unless="${wyArticle.isPublish}" onclick="member_stop(this,'10001')" href="javascript:;"  title="下架">
                <i class="layui-icon">&#xe601;</i>
              </a>
              -->
              <a title="编辑"  th:onclick="'article_edit(this,\''+${wyArticle.id}+'\')'" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
              </a>
              <a title="删除" th:onclick="'article_del(this,\''+${wyArticle.id}+'\')'" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="page">
        <div>
          <a class="prev" href="">&lt;&lt;</a>
          <a class="num" href="">1</a>
          <span class="current">2</span>
          <a class="num" href="">3</a>
          <a class="num" href="">489</a>
          <a class="next" href="">&gt;&gt;</a>
        </div>
      </div>

    </div>
    <script th:inline="javascript">
      var articles = [[${wyArticles}]];
      var global_article = {};
      function article_edit(_this,articleId) {
          $.each(articles,function (index,article) {
              if(article.id == articleId) {
                  global_article = article;
                  return;
              }
          })
          x_admin_show('编辑','/article/jump-article-edit','','',_this,global_article);
      }
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

       /*用户-停用*/
      function member_stop(obj,id){
          var confirmValue = '';
          if($(obj).attr('title')=='发布') confirmValue = '您确定要下架吗';
          if($(obj).attr('title')=='下架') confirmValue = '您确定要发布吗';
          layer.confirm(confirmValue,function(index){

              if($(obj).attr('title')=='发布'){

                //发异步把用户状态进行更改
                $(obj).attr('title','下架')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已下架');
                layer.msg('已下架!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','发布')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已发布');
                layer.msg('已发布!',{icon: 6,time:1000});
              }
              
          });
      }

      /*用户-删除*/
      function article_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
            $(obj).parents("tr").remove();
            //发异步删除数据
            $.ajax({
                url: '/article/article-del',
                async: false,
                data: {"articleId":id},
                dataType: "json",
                type: 'post',
                success: function (data) {
                   layer.msg('已删除!',{icon:1,time:1000});
                },
                error: function (XmlHttpRequest, textStatus, errorThrown) {
                    layer.msg('error!', {icon: 1, time: 1000});
                }
            });

          });
      }
      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
      function article_refresh(_this,articleId) {
          //发异步删除数据
          $.ajax({
              url: '/article/refresh-prod',
              data: {"articleId":articleId},
              async: false,
              type: 'post',
              success: function (data) {
                  layer.alert('已同步线上数据!',{icon: 1, time: 2000},function (index) {
                      // location.reload(location.href);
                  })
              },
              error: function (XmlHttpRequest, textStatus, errorThrown) {
                  layer.msg('error!', {icon: 1, time: 1000});
              }
          });
          // x_admin_show('修改图片',"/article/article-img-edit",'','',_this,articleId);
      }

      //展示图片列表
      function  showImages(_this,articleId) {
          layer.open({
                 type: 2,
                 area: ['1000px', '500px'],
                 fix: false, //不固定
                 maxmin: true,
                 shadeClose: true,
                 shade:0.4,
                 title: '图文展示',
                 content: '/article/article-img-edit?articleId='+articleId,
                 success: function (layero, index) {
                 }
             });


      }
      /*文章-复制*/
      function article_copy(obj, id) {
          layer.confirm('确认要复制这篇文章吗?', function (index) {
              //发异步删除数据
              $.ajax({
                  url: '/article/article-copy',
                  async: false,
                  data: {"articleId":id},
                  dataType: "json",
                  type: 'post',
                  success: function (data) {
                    layer.confirm('文章复制成功!!',function(index){
                         location.reload(location.href);
                    });
                     // layer.msg('复制成功!', {icon: 1, time: 1000});
                  },
                  error: function (XmlHttpRequest, textStatus, errorThrown) {
                      layer.msg('error!', {icon: 1, time: 1000});
                  }
              });

          });
      }
    </script>
  
  </body>

</html>