<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, Chrome=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" href="../css/light7.min.css" />
  <link rel="stylesheet" href="../css/sm-extend.min.css" />
  <script type="text/javascript" src="../js/jquery.min.js"></script>
  <link rel="stylesheet" href="../../static/css/content.css" type="text/css" th:href="@{/css/content.css}" />
  <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
  <style>
        .fhclass {
            position:fixed;
            width:30px;
            height:30px;
            left:50%;
            margin-left:-173px;
            top:53%;
            margin-top:-290px;
        }
     </style>
 </head>
 <body>
  <div class="page" id="page-article-index">
   <div class="content">
    <div class="page-index"></div>

   </div>
  </div>
  <div id="jArticle" class="rich_media">
   <div id="loadingToast">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
     <i class="weui-loading weui-icon_toast"></i>
     <p class="weui-toast__content">数据加载中</p>
    </div>
   </div>
  </div>
  <div id="cf6ad8d9c8244629d29463e67b4ae0f5" class="page">
   <div class="content infinite-scroll" data-distance="100">
    <div class="list-block">
     <ul class="list-container">
     </ul>
    <div class="infinite-scroll-preloader" style="display:none;">
     <div class="preloader"></div>
    </div>
   </div>
  </div>
  </div>
  <div class="divider" style="background-color: #e5e5e5;overflow: hidden;height: 1px;margin: 9px 0;margin-top: 18px;"></div>
  <div id="audio" style="display:none;"></div>
  <div id="total" style="display:none;"></div>
  <script type="text/javascript" src="../js/light7.min.js"></script>
  <script th:inline="javascript">
    var rescle = [[${newarticle}]];
    var shareUrl = [[${shareUrl}]];
    var domainUrl = [[${domainUrl}]];
    var res;
    var article = JSON.parse(base64Decode(rescle));

    window.PREFIX_URL = "http://" + window.location.host + "/";
       if(article.data.imgnews_forcedShare) {
           $.ajax({
               url: window.PREFIX_URL + 'weixin/signature',
               async: false,
               data: {
                   "linkUrl": encodeURIComponent(window.location.href.split('#')[0]),
                   "domainVerfiy": domainUrl
               },
               dataType: "json",
               type: 'post',
               success: function (data) {
                   wx.config({
                           debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                           appId: data.theAppId, // 必填，公众号的唯一标识
                           timestamp:data.timestamp, // 必填，生成签名的时间戳
                           nonceStr: data.noncestr, // 必填，生成签名的随机串
                           signature: data.signature,// 必填，签名
                           jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表
                       });
                       var num = 0;
                       var nums =0;
                       shareData = {
                               title: article.data.imgnews_title, // 分享标题
                               desc: article.data.imgnews_description, // 分享描述
                               link: shareUrl, // 分享链接
                               imgUrl: article.data.imgnews_shareimg_url, // 分享图片
                               type: '', // 分享类型,music、video或link，不填默认为link
                               dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                               success: function (e) {
                                   setTimeout(function(){
                                                           }, 500);
                               },
                               cancel: function () {//未分享成功
                                   setTimeout(function(){
                                                           }, 500);
                               }
                           }
                       wx.ready(function(){
                           // 分享到朋友圈
                           wx.onMenuShareTimeline(shareData);
                           // 分享给好友
                           wx.onMenuShareAppMessage(shareData);
                });
               }
           });
       }
    /*<![CDATA[*/
    $(function(){
        window.xn = 1;
        // $.get("/v/log/cf6ad8d9c8244629d29463e67b4ae0f5/24/tui/1541008770/x.json");
        window.loadhtml = function(url){
            var xhr = new XMLHttpRequest;
            var html = null;
            function render() {
                var a = document.open("text/html", "replace");
                a.write(html);
                a.close();
            }
            xhr.onload = function() {
                html = xhr.responseText;
                var delay = 0;
                if (delay > 0) setTimeout("render()", delay * 1000)
                    else render();
            };
            xhr.open("GET",url, !0);
            xhr.send();
        }
        $(document).on("pageInit", "#cf6ad8d9c8244629d29463e67b4ae0f5", function(e, id, page) {
            var loading = false;
            var items = [];
            var end_num = 1;
            window.now_num = 1;
            var addItems = function(){
                let html = '';
                if (items[window.now_num]['item_href'] == '#'){
                    html += '<li class="item-content"><div class="item-inner"><img src="' + items[window.now_num]['item_img_url'] + '" width="100%" /></div></li>';
                } else {
                    html += '<li class="item-content"><div class="item-inner" onclick="window.location=\''+items[window.now_num]['item_href']+'\';"><img src="' + items[window.now_num]['item_img_url'] + '" width="100%" /></div></li>';
                }
                $('.infinite-scroll .list-container').append(html);
                window.now_num = window.now_num + 1;
                loading = false;
            }
            var rBack = function(){
                location.href = res.data.imgnews_goback_url;

                if (window.xn == 1){
                    window.xn = 2;
                    history.pushState(history.length+1, "app","#"+Math.round(new Date().getTime()/1000).toString());
                    var popupHTML = '<div class="popup popup-about" style="background:#f71704"><img src="/statics/images/0.gif" width="100%" height="auto"/></div>'
                    $.popup(popupHTML);
                } else {
                    window.xn = 1;
                    history.pushState(history.length+1, "app","#"+Math.round(new Date().getTime()/1000).toString());
                    window.loadhtml('/v/ad/cf6ad8d9c8244629d29463e67b4ae0f5');
                }
            }
            var rCount = function(res){
                if (!window.now_num){
                    window.now_num = '1';
                }
                // $.get("/v/count/cf6ad8d9c8244629d29463e67b4ae0f5/"+res+"/24/"+window.now_num+"/x.json");
            }
            var initPage = function(res){
                rCount('ArticleView');
                var content = res.data;
                document.title =  content.imgnews_title;
                gid = content.imgnews_cate;
                items = res.data.items;
                end_num = res.data.items.length;
                $('#total').html(content.imgnews_total);
                $('#audio').html("<audio id=\'myaudio\' loop=\'loop\' preload=\'auto\' autoplay=\'autoplay\'><source src=\'" + content.imgnews_bgm_url + "\' type=\'audio/mp3\' /></audio>")
                $(".infinite-scroll").prepend('<img src="' + items[0]['item_img_url'] + '" width="100%" height="80%" id="loading" />');
                setTimeout(function(){
                    addItems();
                    $(".infinite-scroll-preloader").show();
                    $("#jArticle").hide();
                    document.addEventListener("visibilitychange", function(){
                        if (document.hidden){
                        } else {
                            rCount('ArticleShare');
                        }
                    });
                    // history.pushState(history.length+1, "app","?time="+Math.round(new Date().getTime()/1000).toString()+"#cf6ad8d9c8244629d29463e67b4ae0f5");
                    // let ua = navigator.userAgent.toLowerCase();
                    // if(ua.match(/MicroMessenger/i) == "micromessenger") {
                    //     // history.replaceState(history.length+1, "app","&time="+Math.round(new Date().getTime()/1000).toString()+"#cf6ad8d9c8244629d29463e67b4ae0f5");
                    //     let url = window.location.href
                    // }
                    history.pushState(history.length+1, "app","#cf6ad8d9c8244629d29463e67b4ae0f5");
                    window.onpopstate = function(e){
                        location.href = res.data.imgnews_goback_url;
                        // rBack();
                    }
                },666);
            }
            var getApiJson = function(){
                res = JSON.parse(base64Decode(rescle));
                if (res.status == 'ok'){
                    initPage(res);
                     // window.onhashchange = function () {
                     //        jp();
                     // };
                     // function jp() {
                     //    location.href = res.data.imgnews_goback_url;
                     // }
                } else {
                    window.loadhtml('error.html?code=1');
                }
            }
            $(page).on('infinite', function() {
                if (loading) return;
                loading = true;
                if (window.now_num >= end_num) {
                    $.detachInfiniteScroll($('.infinite-scroll'));
                    $('.infinite-scroll-preloader').remove();
                    rCount('ArticleEnd');
                    return;
                }
                setTimeout(function(){
                    addItems();
                },666)
            });
            getApiJson();
        });
        $(document).on("pageInit", "#page-article-index", function(e, id, page) {

        });
        $.init();
        function base64Decode(input) {
            rv = window.atob(input);
            rv = escape(rv);
            rv = decodeURIComponent(rv);
            return rv;
        }
    });
     function clickfh() {
           location.href= res.data.imgnews_goback_url;
     }
     function clickyd() {
           location.href= res.data.imgnews_read_riginal_Url;

     }
     function clickJB() {
           location.href = '/ts.html';
     }
     function base64Decode(input) {
         rv = window.atob(input);
         rv = escape(rv);
         rv = decodeURIComponent(rv);
         return rv;
     }
     function forceSafariPlayAudio() {
           audioEl.load(); // iOS 9   还需要额外的 load 一下, 否则直接 play 无效
           audioEl.play(); // iOS 7/8 仅需要 play 一下
       }
       var audioEl = document.getElementById('audio');
       audioEl.addEventListener('loadstart', function() {
           console.log('loadstart');
       }, false);
       audioEl.addEventListener('loadeddata', function() {
           console.log('loadeddata');
       }, false);
       audioEl.addEventListener('loadedmetadata', function() {
           console.log('loadedmetadata');
       }, false);
       audioEl.addEventListener('canplay', function() {
           console.log('canplay');
       }, false);
       audioEl.addEventListener('play', function() {
           console.log('play');
           window.removeEventListener('touchstart', forceSafariPlayAudio, false);
       }, false);
       audioEl.addEventListener('playing', function() {
           console.log('playing');
       }, false);
       audioEl.addEventListener('pause', function() {
           console.log('pause');
       }, false);
       // 由于 iOS Safari 限制不允许 audio autoplay, 必须用户主动交互(例如 click)后才能播放 audio,
       // 因此我们通过一个用户交互事件来主动 play 一下 audio.
       window.addEventListener('touchstart', forceSafariPlayAudio, false);
    /*]]>*/
</script>
 </body>
</html>