<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head th:replace="common/common_header :: common_header">
  <title>订单列表</title>
  <!--<link rel="stylesheet" href="css/index.css" />-->
</head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">订单管理</a>
        <a>
          <cite>订单列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="开始日" name="start" id="start" th:value="${startTime}"/>
          <input class="layui-input" placeholder="截止日" name="end" id="end" th:value="${endTime}"/>
          <input type="text" name="username"  placeholder="请输入用户姓名" autocomplete="off" class="layui-input"/>
          <input type="text" name="phone"  placeholder="请输入手机号" autocomplete="off" class="layui-input"/>
          <button class="layui-btn"  type="button"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="loadtable()">订单表格下载</button>
        <span class="x-right" style="line-height:40px">共有数据：88 条</span>
      </xblock>

      <table class="layui-table">
        <thead>
          <tr>
            <th>订单编号</th>
            <th>收货人</th>
            <th>电话</th>
            <th>商品类型</th>
            <th>尺码</th>
            <th>价格</th>
            <th>详细地址</th>
            <th>顾客留言</th>
            <th>下单时间</th>
            <th >操作</th>
            </tr>
        </thead>
        <tbody id="showhtml">
          <tr th:if="${not #lists.isEmpty(wyOrders)}" th:each="wyOrder,iterStat:${wyOrders}">
            <td th:text="${wyOrder.id}"></td>
            <td th:text="${wyOrder.name}"></td>
            <td th:text="${wyOrder.phone}"></td>
            <td th:text="${wyOrder.title}"></td>
            <td th:text="${wyOrder.size}"></td>
            <td th:text="${wyOrder.price}"></td>
            <td th:text="${wyOrder.province}+${wyOrder.city} + ${wyOrder.county} + ${wyOrder.address}"></td>
            <td th:text="${wyOrder.message}"></td>
            <td th:text="${#dates.format(wyOrder.updateTime,'yyyy/MM/dd HH:mm:ss')}"></td>
            <td class="td-manage">
              <a title="查看"  onclick="x_admin_show('编辑','order-view.html')" href="javascript:;">
                <i class="layui-icon">&#xe63c;</i>
              </a>
              <a title="删除" th:onclick= "'javascript:member_del(this,'+${wyOrder.id}+')'" href="javascript:;">
                <i class="layui-icon">&#xe640;</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="page">
        <div>
          <a class="prev" href="">&lt;&lt;</a>
          <a class="num" href="">1</a>
          <span class="current">2</span>
          <a class="num" href="">3</a>
          <a class="num" href="">489</a>
          <a class="next" href="">&gt;&gt;</a>
        </div>
      </div>
         <a class="loadfile" href=""></a>
    </div>
    <script>
      layui.use('laydate', function(){
        var laydate = layui.laydate;
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });
      });

       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要停用吗？',function(index){

              if($(obj).attr('title')=='启用'){

                //发异步把用户状态进行更改
                $(obj).attr('title','停用')
                $(obj).find('i').html('&#xe62f;');

                $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                layer.msg('已停用!',{icon: 5,time:1000});

              }else{
                $(obj).attr('title','启用')
                $(obj).find('i').html('&#xe601;');

                $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                layer.msg('已启用!',{icon: 5,time:1000});
              }
              
          });
      }

      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $.ajax({
                 url: '/order/delete',
                 async: false,
                 data: {"id":id},
                 dataType: "json",
                 type: 'post',
                 success: function (data) {
                     $(obj).parents("tr").remove();
                     layer.msg('已删除!', {icon: 1, time: 1000});
                     location.reload(true);
                 },
                 error: function (XmlHttpRequest, textStatus, errorThrown) {
                     layer.msg('error!', {icon: 1, time: 1000});
                 }
             });
          });
      }
      /*订单表格下载*/
      function loadtable(){
          layer.msg('正在为您下载....',{icon: 1, time: 1500},function(index){
              var sTime = $("#start").val();
              var eTime = $("#end").val();
              //发异步删除数据
              $.ajax({
                 url: '/order/loadfile',
                 async: false,
                 data: {"startTime":sTime,"endTime":eTime},
                 dataType: "json",
                 type: 'post',
                 success: function (data) {
                    window.open("http://www.9ear.cn/excel/"+data.msg+".xlsx");
                 },
                 error: function (XmlHttpRequest, textStatus, errorThrown) {
                     layer.msg('error!', {icon: 1, time: 1000});
                 }
             });
          });
      }



      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
        });
      }
      layui.use(['form','layer'], function() {
              $ = layui.jquery;
              var form = layui.form
                  ,layer = layui.layer;
              //注意：1.submit监听一个filter过滤事件，要在提交标签中加上
              //     2.当button没有添加type="button" 会自动提交表单刷新
              form.on('submit(sreach)', function (data) {
                  $.ajax({
                      url: '/order/order-search',
                      async: false,
                      data: data.field,
                      dataType: "html",
                      type: 'post',
                      success: function (datar) {
                         $("#showhtml").html('');
                         $("#showhtml").html(datar);
                      },
                      error: function (XmlHttpRequest, textStatus, errorThrown) {
                          layer.msg('error!', {icon: 1, time: 1000});
                      }
                  });
              });
          });
    </script>
  </body>

</html>