<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}" lang="zh-CN" style="font-size: 34.722px;">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
        <title th:text="${article.wyArticle.title}">腾讯新闻简报-加载中...</title>
        <meta property="og:type" content="website"/>
        <meta property="og:title"  th:attr="content=${article.wyArticle.title}"/>
        <meta property="og:description" content="1"/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content=""/>
        <script src="/wd-3/js/rem.js"></script>
        <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>

        <link rel="stylesheet" type="text/css" href="/wd-3/css/base.css"/>
        <link rel="stylesheet" type="text/css" href="/wd-3/css/page.css"/>
        <link rel="stylesheet" type="text/css" href="/wd-3/css/all.css"/>
        <link rel="stylesheet" type="text/css" href="/wd-3/css/mui.min.css"/>
        <link rel="stylesheet" type="text/css" href="/wd-3/css/loaders.min.css"/>
        <link rel="stylesheet" type="text/css" href="/wd-3/css/loading.css"/>
        <link rel="stylesheet" type="text/css" href="/wd-3/css/slick.css"/>
    <style>
    .article .mui-content-padded {
        margin:0;
        padding-top:0;
        padding-bottom:0;

    }
    .mui-content-padded {
        margin:0;
    }
    </style>
    </head>
    <body>
     <a class="mscBtn_stop" id="audioBtn"></a>
     <a class="backBtn" th:href="${article.wyArticle.imageGobackUrl}"></a>
            <div id="main" class="clearfloat warp " style="padding-bottom: 0px;">
                    <div class="zhengwen">
                        <div class="mui-content article scrollEle">

                        <div class="mui-content-padded" id="newsContent" style="max-width:800px;margin:0 auto;">
                        </div>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                                //console.log(data);
                                 var article = [[${article}]];
                                $("#newsContent").html(article.contentHtml);
                            /*]]>*/
                        </script>

                    </div>
                    <div class="nr_bot" th:if="${article.wyArticle.readOriginalUrl == ''}">
                                            <a th:href="${article.wyArticle.readOriginalUrl}"><view>阅读原文</view></a>
                                            <span>
                            阅读 <em id="readNum">100000+</em>
                        </span>
                        <a class="dianzan" id="dianzan_btn" href="javascript:void(0)">
                            <i class="icon-dianzan"></i> <em id="likeNum">26510</em>

                        </a>

                        <a href="/ts.html" style="float:right;margin-right:30px;">
                            投诉
                        </a>

                        <div class="clear"></div>

                    </div>
                    <script>
                        $(function () {
                            // //调用阅读次数
                            // $.get("../run/hits.php",{ArticleID:"168",table:"share"},function(data){
                            // 			$("#readNum").text($.trim(data));
                            // 		});
                            // //调用赞次数
                            // $.get("../run/zan.php",{ArticleID:"168",table:"share"},function(data){
                            // 			$("#likeNum").text($.trim(data));
                            // 		});
                            // //增加赞次数
                            // $("#dianzan_btn").click(function(){
                            // 	if ($("#dianzan_btn i").hasClass('icon-dianzan_on')) {
                            // 		$.get("../run/zan_small.php",{ArticleID:"168",table:"share"},function(data){
                            // 			$("#likeNum").text(parseInt($("#likeNum").text())-1);
                            // 			$("#dianzan_btn i").removeClass('icon-dianzan_on');
                            // 			$("#dianzan_btn i").addClass('icon-dianzan');
                            // 		});
                            // 					return;
                            // 	 }else{
                            // 		$.get("../run/zan_add.php",{ArticleID:"168",table:"share"},function(data){
                            // 			$("#likeNum").text(parseInt($("#likeNum").text())+1);
                            // 			$("#dianzan_btn i").removeClass('icon-dianzan');
                            // 			$("#dianzan_btn i").addClass('icon-dianzan_on');
                            // 		});
                            // 	 }
                            // });


                        });
                        </script>
                </div>
            </div>
            <div style="display:none" id="total">

            </div>
            <!--<script type="text/javascript" src="../static/js/jquery-1.8.3.min.js" ></script>-->
            <script type="text/javascript" src="/wd-3/js/hmt.js"></script>
            <script src="/wd-3/js/slick.js" type="text/javascript"></script>
            <script src="/wd-3/js/main.js"></script>
    <script>
        $("#total").html(article.wyArticle.statistical);
        var audio;
        $(function () {
            audio = new Audio(article.wyArticle.bgmUrl);
            audio.play();
            audio.autoplay = true;
            audio.loop = true;
            $('#dowebok').fullpage({
                afterLoad: function (anchorLink, index) {
                },
                onLeave: function (index, direction) {
                }
            });
        });
        //播放-暂停
        $("#audioBtn").click(function () {
            if (audio.paused) {
                audio.play();
                $("#audioBtn").removeClass("mscBtn_stop").addClass("mscBtn");
            } else {
                audio.pause();
                $("#audioBtn").removeClass("mscBtn").addClass("mscBtn_stop");
            }
        });
        document.addEventListener('DOMContentLoaded', function () {
            function audioAutoPlay() {
                    audio.play();
                document.addEventListener("WeixinJSBridgeReady", function () {
                    audio.play();
                }, false);
            }
            audioAutoPlay();
        });
        var fanurl = article.wyArticle.gobackUrl;
        var rand = Math.random();
        if (fanurl != "") {
            history.pushState(
                "", "", "#" + rand
            );
                window.onhashchange = function (event) {
                    if (fanurl != "") {
                    window.location.href = fanurl;
                    }
                };

        }
        </script>
    <script type="text/javascript" src="/wd-3/js/index.js"></script>

    </body>
</html>