<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>潜藏在民间的特殊高手，原来异能真的存在！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://qcdn-legacy.zhangzhongyun.com/vendor/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://qcdn-legacy.zhangzhongyun.com/vendor/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://qcdn-legacy.zhangzhongyun.com/vendor/toastr.js/2.1.3/toastr.min.css" rel="stylesheet"/>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/jquery/1.12.4/jquery.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/toastr.js/2.1.3/toastr.min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/handlebars.js/4.0.10/handlebars.min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/knockout/3.4.1/knockout-min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/clipboard.js/1.6.1/clipboard.min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/static/vendor/qrcode.js"></script>
    <script>
        toastr.options.positionClass = 'toast-bottom-right';
    </script>
    <script src="/static/js/admin.js?v=64"></script>

    <link rel="stylesheet" href="https://qcdn.zhangzhongyun.com/static/1510670588822/css/page_mp_article.css"/>
    <link rel="stylesheet" href="https://qcdn.zhangzhongyun.com/static/1510670588822/css/page_mp_article_improve_combo.css"/>
    <link rel="stylesheet" href="/css/admin.css"/>

    <!--[if lte IE 8]>
    <script src="https://qcdn.zhangzhongyun.com/static/1510670588822/assets/js/html5shiv.min.js"></script>
    <script src="https://qcdn.zhangzhongyun.com/static/1510670588822/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="">
    <div class="rich_media">
        <div class="rich_media_inner" style="padding-top:0">
            <div class="rich_media_area_primary">
                <h1 id="wx-article-title" class="rich_media_title">潜藏在民间的特殊高手，原来异能真的存在！</h1>
                <div class="rich_media_meta_list">
                <em id="post-date" class="rich_media_meta rich_media_meta_text"></em>
                <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="##" id="post-user">午夜生活</a>
                <span class="rich_media_meta rich_media_meta_text rich_media_meta_nickname">午夜生活</span>
                <div id="js_profile_qrcode" class="profile_container" style="display:none;">
                 <div class="profile_inner">
                  <strong class="profile_nickname">午夜生活</strong>
                  <img class="profile_avatar" id="js_profile_qrcode_img" src="" alt="" />
                 </div>
                 <span class="profile_arrow_wrp" id="js_profile_arrow_wrp"> <i class="profile_arrow arrow_out"></i> <i class="profile_arrow arrow_in"></i> </span>
                </div>
               </div>
                <div class="rich_media_content">
                    <div id="wx-article-content">
                        <div id="wx-article-body" style="font-size: 20px">
                <section class="chapter">
                         <section class="chapter-content">
                          <p style="line-height:1.7em;font-size:18px"> 应天市！ </p>
                          <p style="line-height:1.7em;font-size:18px"> 下午六点，太阳已经偏西，黄昏来临，夕阳无限美，只是近黄昏，许多人结束一天的辛勤工作匆忙的赶回家中。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 归家的人们总是带着疲惫的身躯像狗一样的活着。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 而徐振东就是其中一个，他看起来似乎比人群中的每一个人都要疲惫，都要迷茫，眼神中充满了绝望，对这个未来的绝望。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “第十三个了，已经第十三个医院了，都不要我，我已经尽量的选一些小点的医院了，私人医院也跑了七八个，依旧碰壁。” </p>
                          <p style="line-height:1.7em;font-size:18px"> “难道毕业真的就是失业，好像也不是这么说，毕竟我们医学院的很多人都找到工作了，但他们大部分都是学西医的，而今中医微式，这些医院都看不起中医，更看不起我这样即将毕业的中医学生。” </p>
                          <p style="line-height:1.7em;font-size:18px"> 唠叨几句，徐振东匆忙回到租房，因为在校期间有女朋友，所以很早以前就搬出来跟女友同居，两人都是学生，花销不大，蜗居一个一室一厅就可以了。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 不过现在临近毕业实习，女友在应天市的龙华区找到了一个不错的实习机会，为了离工作地点更近一些就在那边租房了、 </p>
                          <p style="line-height:1.7em;font-size:18px"> 所以现在只有徐振东一个人住。垂头丧气的回到租房，看着乱糟糟的房间，也没有收拾的心情，往床上一坐，看着窗外的夕阳。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “既然这些小医院不要我，那我明天就是最好的医院——应天医院，好像有几个同学就在那边实习，就算不要我，也无所谓了，反正已经碰壁了这么多，说不定他们人事部的人瞎了呢！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 心情不怎么好，饭都不想吃，拿起手机刷一下朋友圈，顿时愣住了，看到女友李青萝更新朋友圈动态，内容很简单：我们很好！下面附着一张照片，李青萝依靠在一个男子胸前。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “这……”徐振东顿时蒙圈了，愤怒由心生。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “应该是同事，同事而已，一定没事的，我们那么相爱，说好了毕业两年就结婚的，青萝不会骗我的。” </p>
                          <p style="line-height:1.7em;font-size:18px"> 这么一想，手机响起，是女友李青萝打来的，犹豫几分，接了，假装没有看到朋友圈一般，微笑着说道： </p>
                          <p style="line-height:1.7em;font-size:18px"> “青萝，想我没？从你去那边实习，我们就有小段时间没一起吃饭了，要不今晚一起吃饭？” </p>
                          <p style="line-height:1.7em;font-size:18px"> 等了一会儿，电话那头没有声音，徐振东以为手机出问题了，看了一眼，依旧在通话中…… </p>
                          <p style="line-height:1.7em;font-size:18px"> “青萝，怎么了？怎么不说话啊？” </p>
                          <p style="line-height:1.7em;font-size:18px"> 这时，听到那边传来深呼吸的声音，像是在鼓足勇气一般。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “振东，我们……我们分手吧！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 嗡！ </p>
                          <p style="line-height:1.7em;font-size:18px"> 脑海一下子就空白了。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 强忍的愤怒冉冉冒起，但是他还在使劲的压制，言语已经变得有些冰冷了。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “你劈腿了？找了新的男朋友了？” </p>
                          <p style="line-height:1.7em;font-size:18px"> “没……没有！”李青萝说话都有些迟疑，“我只是觉得我们性格不合适。” </p>
                          <p style="line-height:1.7em;font-size:18px"> “青萝，别开玩笑了，我们在一起三年，一直都非常相爱，怎么可能性格不合！是不是朋友圈里的那个人？” </p>
                          <p style="line-height:1.7em;font-size:18px"> “啊……你……你看到了？”李青萝有些惊愕，不过缓了一会儿，声音有些镇定的说道：“我想过了，我们两人都是外地来的，而且你是学中医，现在中医根本就不受待见，你已经去遍了应天市的医院问过了，都没有一个要你吧？” </p>
                          <p style="line-height:1.7em;font-size:18px"> “你给不了我想要的生活，我不想再回到乡下，我习惯了大城市的繁华，而我现在的男朋友是天易集团的公子，她可以给我我想要的生活，希望你能理解我！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 那边说话已经不想刚才那样有些结巴与犹豫，而是决绝。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “青萝，虽然我现在没什么成就，但是我会努力的，只要我们努力就一定可以在应天市立足的，明天我就去应天医院试试！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 徐振东已经在强压心中怒气，希望能挽回这个一直爱着的女友。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “呵呵，徐振东，别天真了，你学的是中医，就算你学习成绩很好，但那又如何，出社会讲的是关系，而且中医微式，根本就不入流，应天医院更加不会录用你，就算你幸运被医院录用，你需要多少年才能在这个城市买房买车，我是女人，我的青春是有限的，我等不起。” </p>
                          <p style="line-height:1.7em;font-size:18px"> “我可以给我爸妈讲，让他们跟亲戚朋友借钱给我付首付先，然后我们在慢慢还……喂……喂……青萝……青萝……” </p>
                          <p style="line-height:1.7em;font-size:18px"> 话还没说完，那边已经挂电话了。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 徐振东看着渐落的夕阳，残留在西边的光芒都显得那么的苍白无力，连老天都觉得自己可怜了吗？ </p>
                          <p style="line-height:1.7em;font-size:18px"> 在学校时刻苦学习想要给家里争光，所以成绩一直都是名列前茅，本来以为凭借在学校的优秀表现，出社会就可以赚到大把的钱。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 然而现实却给他狠狠一巴掌，连个毕业实习的工作都找不到，更别说赚大钱了，现在连女朋友都嫌弃自己赚不到钱而离去。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 人生最大的悲哀莫过于此！ </p>
                          <p style="line-height:1.7em;font-size:18px"> 悲中生愤，紧咬牙关，一拳打在木桌上，手指破皮，血液流出，但是他丝毫没有感觉到疼痛，依旧觉得残阳的苍白正如现在的自己，摇摇欲坠，已然黄昏，接近绝望黑夜。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 血液沿着桌面流淌，血液碰到了一块放在桌面上的暗黑玉坠，瞬间血液被玉坠吸进去了许多。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “我一定会成功的！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 徐振东愤愤说着，收回看向远方的目光，却被眼前的景象惊呆了。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 原本暗黑的玉坠竟然在吸收自己流出来的血液，而且颜色变成略带暗红起来，大吃一惊，赶紧收回手，看了一下伤口，却发现伤口已经自动痊愈。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “这……” </p>
                          <p style="line-height:1.7em;font-size:18px"> 这一切变化让徐振东吃惊不已，检查自己的手完全不像是刚刚擦破皮，要不是桌面上还有少许的血迹，他真的不相信刚才的场景。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 好奇看向已经变成暗红色的玉坠，拿起来，仔细的看了一番，除了颜色变了之外，其他的都没有变化。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “这是爷爷临终前给我的遗物，临终时一直叮嘱我不离身，后来因为女友送我一条吊坠而换下来。” </p>
                          <p style="line-height:1.7em;font-size:18px"> 说罢，扯下脖子上的吊坠，看了一眼，毅然决然的扔到楼下垃圾堆，既然已经分手了，那就没必要再留恋。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 重新戴上爷爷留下的玉坠，顿时感觉胸口传来一阵暖流，好像有什么东西从胸口钻进体内，并且冲向脑袋里。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 一瞬之间，脑袋越发剧痛。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “痛！痛！我的脑袋，这是怎么回事啊！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 徐振东感觉脑袋痛得难受，抱头打滚在床上，脑海中不断地有新的记忆涌进来。那不属于自己的记忆。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 剧痛无比，脑袋几乎要裂开了，抱头打滚，撕心裂肺的疼痛让他痛不欲生。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 意识终于支撑不住，昏迷过去。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 迷迷糊糊中好像听到什么人说话。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “此乃我神农毕生心血，希望有缘人能将其传承下去，继续弘扬中医博学，悬壶济世……” </p>
                          <p style="line-height:1.7em;font-size:18px"> 模糊之中并没有听清楚太多。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 等到徐振东再次醒来。发觉脑海中发现了很多不属于自己的记忆。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 医道玄术，修行道法，星辰卜学，以及神农先祖的游历行医的经验出现在脑海中。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 不过现在表露出来的好像只是冰山一角，还有更多被强行压制，因为信息量太过庞大，目前他只能承载小部分。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 爬起来，揉了揉太阳穴，脑海还有些轻微的难受，不过已无大碍，渐渐的消化脑海中的庞大信息。 </p>
                         </section>
                        </section>
                        <section class="chapter">
                         <section class="chapter-content">
                          <p style="line-height:1.7em;font-size:18px"> 足足一个小时，他终于整理完毕脑海中庞大的信息量记忆，本人也惊呆了。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 脑海中得到的传承包括很多东西，有诸多至今失传的医术针炎之法，相卜占卦，风水玄学，星辰异象诡变之辩，修炼仙术之法更是应有尽有。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 徐振东完全沉浸在其中奥妙，不断惊叹神农祖先把中医研究的如此透彻，后世出现的中医都是建立在神农医术的基础上，而他现在得到了最全面，最玄学，最正宗的中医之术。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “没想到中医之术囊括异象玄学，星辰相卜，修炼大道，如此之多。”惊叹之后，徐振东兴奋起来了，看着窗外已经完全被黑夜侵蚀的夜色，大声喊道：“天不绝我，我徐振东一定会出人头地的。一定可以笑傲江湖的。” </p>
                          <p style="line-height:1.7em;font-size:18px"> 得到如此惊天传承，徐振东当然要争分夺秒充斥自己，按照脑海中的一部修炼功法——《撼天经》修炼起来。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 尽管得到了神农的传承，但《撼天经》作为修炼铺助行医之法也是博大精深，徐振东慢慢的从头开始修行，一丝不苟。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 不知不觉，天色微亮，缓缓停下修行，睁开眼眸，一点都不觉得累，精神抖擞，神清气爽，浑身充满力量，心情也大为畅快，昨天失恋的悲伤已经烟消云散了。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “先吃早餐，然后去应天医院试试运气。” </p>
                          <p style="line-height:1.7em;font-size:18px"> 得到神农传承的徐振东显然自信了很多，洗漱之后拿着简历，飞奔下楼解决早餐，然后兴匆匆的前往应天医院。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 刚出门没多久，听到了急救车的声音，由远至近开过来，顿时吸引了徐振东的目光，急救车在前面不远处的应天豪华大酒店停下，匆匆忙忙的下来七八个医护人员。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “去看看！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 徐振东快步走过去，也有一些看热闹的人小跑着过去。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 酒店大厅围着很多人，都是看热闹的，中间躺着一个口吐白沫，已经昏迷的年轻人，脸色发白，额头上颗粒汗珠冒出，面目有些狰狞，弓着腰，捂着肚子，极其难受。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “医生，快救救我儿！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 一个穿着紫色包臀的女人，抓住带头医生的手臂不断地摇晃，焦急万分，即使这样也掩盖不住她身上的高贵气质。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “杨夫人，请放心，王医生会救他的，王医生可是我们应天医院外科室的主治医师，一定能救你儿子的。” </p>
                          <p style="line-height:1.7em;font-size:18px"> 护士长说着，他们刚刚接到急救电话就赶过来了，而且电话里说明了是杨万象的儿子杨千琨。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 杨万象乃是应天市为数不多的大企业家，其万象集团产业众多，其中包括餐饮，酒店，服装等等，这家应天豪华大酒店就是其产业之一。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 而且万象集团每年都会给应天医院捐赠一些医疗器材，所以得知是万向集团的公子，马上派出王振国这个极富盛名的主治医生，还有护士长。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “你们还不赶紧把杨少爷抬上担架，送去医院！”护士长大声的训斥其他的护士。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “别动！”王振国大声说着，目光一直关注弓着身子在地上抽搐，吐着白沫的杨千琨，说道：“这是罕见的隐形蛇王毒突发综合症，不能动弹，其中毒素已经开始蔓延在周身，一旦动其身体会加速毒素的蔓延，一旦蔓延到五脏六腑就彻底没救了。” </p>
                          <p style="line-height:1.7em;font-size:18px"> 正准备把杨千琨台上担架护士们呆住了，收回手。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “这是什么症状啊？怎么没听过啊？”护士长好奇的问道。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 在场的人估计除了王振国知道这个病症外，也就是刚刚得到神农传承的徐振东知道了吧。这也是在传承中得知的。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “这是一种可以长期潜伏在体内的毒素，就像是蛇一样的隐藏起来，一旦遇到契机就会毒发，所以才会称之为隐形蛇王毒突发综合征，目前全世界出现过几十列，只有三起救活了。但那是在美国。” </p>
                          <p style="line-height:1.7em;font-size:18px"> “你可是应天医院极负盛名的医生，难道你都治不了吗？”护士长惊呆，其他人更是震惊了。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 要知道连王振国都治不好的病，那在应天市谁能治好？ </p>
                          <p style="line-height:1.7em;font-size:18px"> 王振国摇了摇头，沉思了一会儿，说道：“要说在应天市能有人治好的，恐怕只有华院长出手才有这个可能了。” </p>
                          <p style="line-height:1.7em;font-size:18px"> “院长？华胜义？赶紧叫他过来。”杨夫人抓住王振国的衣袖，很粗鲁的连扯几下。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “杨夫人，王某无能为力，只能帮你请院长了，只是恐怕杨少爷等不了那么长时间了。”王振国也是黯然，自己的医术救不了，院长出手的话可能还有两层把握，只是这个杨千琨病毒蔓延的很快，恐怕没等院长到来，已经毙命。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “不如让我来试试？” </p>
                          <p style="line-height:1.7em;font-size:18px"> 突然，一道声音从人群中传来，人群中走出来一个年轻人。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 正是徐振东，他的脑海中有关于隐形蛇王毒突发综合症状的治疗之法，继承神农医学，悬壶济世，医者仁心，岂能见死不救！ </p>
                          <p style="line-height:1.7em;font-size:18px"> “你？你是谁？”王振国疑惑的问道。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “我叫徐振东，熟知中医之术，我有七层把握治好他。”徐振东说道。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “中医？你在开玩笑吗？还有七层把握救人，即使院长到了也不过两层把握，你想要巴结万象集团也选个好时机啊。”王振国大声的说着，眼中充满鄙视，说道：“这年头，中医还能救人吗？这可是万象集团的公子，一旦出了什么事，你担当得起吗？” </p>
                          <p style="line-height:1.7em;font-size:18px"> “我……”徐振东想反驳什么，此刻，人群中也传来了很多异议声。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “这位年轻人，连赫赫有名的王振国医师都治不好，即使院长也才两层把握，你说你有七层把握，你别逗了。” </p>
                          <p style="line-height:1.7em;font-size:18px"> “就是，年轻人不要冲动，万象集团可不好得罪，那可是几十上百亿身价的大集团呢。” </p>
                          <p style="line-height:1.7em;font-size:18px"> “现在的中医都是骗术，一点科学依据都没有，怎么可能救人啊。” </p>
                          <p style="line-height:1.7em;font-size:18px"> “中医学者都是六七十岁的老头，这个年轻人冒充什么不好，冒充中医，这不是找死吗？” </p>
                          <p style="line-height:1.7em;font-size:18px"> 众人一人一句的遍地中医，把中医说的一无是处，徐振东不理会他们，他拥有一颗医者仁心，学习中医就是为了悬壶济世，看向杨夫人。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “杨夫人，刚才王医生说的你也听到了，你儿子的病即使院长到了也只有两层的把握，而且照目前的情况来看，还没等到院长，他就死了，要是你给我治的话还有机会活过来，你觉得呢？” </p>
                          <p style="line-height:1.7em;font-size:18px"> 不等杨夫人回答，王振国抢先答道：“小子，你的治疗只会使杨少爷提前死亡，杨夫人，你可别相信有心人的胡言乱语。” </p>
                          <p style="line-height:1.7em;font-size:18px"> “提前死亡？”杨夫人当下就不干了，看着徐振东，说道：“中医现在就是骗术，你赶紧走吧，别想用这样的手段来巴结我们万象集团。” </p>
                          <p style="line-height:1.7em;font-size:18px"> “杨夫人，我好心想要帮你儿子治病，你就是用这样的态度对待我吗？”要不是拥有一颗医者仁心，立志要悬壶济世，徐振东现在就马上离开。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “我谢谢你全家的好意了，很快院长就来了，你给我滚！”杨夫人说着，手机响了，嘴角笑了一下，马上接了。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 而此刻，眼看杨少爷口吐白沫，再不抓紧医治，真的就死掉了，见死不救有违本心，更对不起祖先神农的医学之道。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 当下，管不了那么多了，徐振东取出随身带的银针带，随手一抖，整个银针袋展开，一排排的银针闪烁着光芒，他以气云针，体内真气融入银针中。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 另一只手抓住另一根银针，在杨少爷的T恤上轻轻一划，T恤就破开，露出发紫皮肤。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 紧接着，他非常快速的进行针炎，以气运针，行云流水，手法娴熟，片刻便在杨少爷身上扎了十几针。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 杨少爷抽搐的身体，突然停止了，也不吐出白沫，徐振东气灌银针，以《撼天经》功法灌输些许真气进入他的体内，扣住毒素的蔓延。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 这一过程非常迅速，一气呵成，其他人都来不及阻止，看着也有些惊呆了。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “你个混蛋，住手！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 正在打电话的杨夫人看到这一幕，尖叫起来了。 </p>
                         </section>
                        </section>
                        <section class="chapter">
                         <section class="chapter-content">
                          <p style="line-height:1.7em;font-size:18px"> 杨夫人接个电话的片刻时间，回过头来却看到这个不知天高地厚的年轻人在自己的儿子身上扎了十几针，顿时暴怒。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 电话还没说完，尖叫起来了，一把推开正在施针的的徐振东。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 徐振东被她的尖叫声惊醒，但没想到她竟然一把推过来，一下子被推开了。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 徐振东生气的站起来，眼神冰冷，看着这个不可理喻的杨夫人，菩萨也有三分火气，更何况是人。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “我的治疗还没有完成，目前只能保他半天没事，你这样阻碍我治病，难道是想你儿子快点死？” </p>
                          <p style="line-height:1.7em;font-size:18px"> 要不是医者仁心，想要悬壶济世，他早就离开此地，何必留下来受气呢。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “你知道我儿子是谁吗？我儿子可是万象集团的唯一继承人，要是我儿子有什么三长两短，我要你死！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 说着赶紧趴下，观看儿子的情况，只见儿子脸色依旧苍白，抽搐少了，口中也没有吐出白沫，但她并不认为这是扎在儿子身上的银针发挥出来的效果。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 徐振东的眼神骤然冰冷下来，刚才情况危急，自己不出手相救，杨少爷必死无疑。虽然不经过家属同意有些不妥，但见死不救有违自己一直坚守的医者仁心，更何况先祖神农传承的医德亦如此，不可违背！ </p>
                          <p style="line-height:1.7em;font-size:18px"> 只是，现在他救人了还要受到家属的怒骂，心中极为不爽，冷冷说道： </p>
                          <p style="line-height:1.7em;font-size:18px"> “我还需要再进行施针，不然还是会死的。” </p>
                          <p style="line-height:1.7em;font-size:18px"> “你……滚！保安，保安，把这人给我赶出去，我不想在见到这人。” </p>
                          <p style="line-height:1.7em;font-size:18px"> 杨夫人可是这家酒店的老板娘，保安马上赶过来，怒气冲冲的看着徐振东。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 徐振东眼神冰冷到极点，也很失望，一声冷哼。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “我行医乃是医者仁心，不求有功，但求问心无愧，而你却百般阻扰，就算是菩萨也有三分火气，老子才懒得在这遭罪，祝你儿子早曰康复！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 说完，大步朝着大门走去。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 而迎面走来的是杨万象和应天医院院长华胜义，后面还跟着六个保镖。风风火火的赶过来，与徐振东擦肩而过。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “万象，你终于来了，你再不早点来，我们的儿子就要死了！”杨夫人哭泣的抱住杨万象的手臂。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “这是……怎么回事？”杨万象有些震怒，看到十几根银针扎在儿子身上。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “刚刚有个不知天高地厚的家伙试图想要用中医进行医治，还好杨夫人发现的及时，已经阻止那人的胡来，总算是撑到了华院长的到来。”王振国抓住着在杨万象面前表现的机会，急忙说道。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “中医？简直胡闹！”杨万象勃然大怒，大声说道：“都给我撤了！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 这不是更好的表现机会吗？王振国马上伸手过去拔针，却被一直枯黄的老手抓住。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “华院长，你这是……？”王振国看着抓住自己的手的华院长。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 华胜义眼中充满了震惊，到现在都有些不相信眼前的事实，非常郑重的说道：“此病正是隐形蛇王毒突发综合征，而且是极为危险的阶段，按理说应该无救了。” </p>
                          <p style="line-height:1.7em;font-size:18px"> “虽然我华某人不是中医专家，但对中医也是略知一二，从眼前的情况看来，必然是这十几针护住了犬子的性命，毒性已经被扣住，不再加以蔓延，只是，目前只能算是稳定而已，并没有完全痊愈。” </p>
                          <p style="line-height:1.7em;font-size:18px"> “刚才施针之人乃是高人，你说刚才杨夫人阻止？” </p>
                          <p style="line-height:1.7em;font-size:18px"> 华院长缓缓说着，言语中充满震惊。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 他的话语一出，在座的其他人都震惊了，连德高望重的华院长都这么说，那只能说明刚才那人确实有真才实学的，并不是他们之前说的中医骗子。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “这个……我也不知道啊，谁知道这年头中医还有用啊！”杨夫人顿时结巴语塞，脸色有些难看，“你不是来了吗？你救我儿子啊，快，快救救我儿子。” </p>
                          <p style="line-height:1.7em;font-size:18px"> 华院长认真的检查了情况，说道：“此病，华某无能为力，要不是这上面的银针暂时缓解，杨少爷恐怕已经西去了。” </p>
                          <p style="line-height:1.7em;font-size:18px"> “呜呜呜，老公啊，我们的儿子啊，你快救救我们的儿子啊！”杨夫人顿时嚎声大哭，抱住老公的手臂，不停的摇晃着。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 杨万象还算是比较冷静的，眉宇间皱成一个川字，额头上也是冒出了细细的汗珠，看着华老： </p>
                          <p style="line-height:1.7em;font-size:18px"> “难道就没有人能救我儿了吗？” </p>
                          <p style="line-height:1.7em;font-size:18px"> “有！”华老镇定的说着。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “谁？是谁？赶快把他叫来！”杨夫人就像是抓住救命稻草一般，转移过去抓住华院长的手臂。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “是谁？”杨万象动容，眼神中多了一份激动。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “就是刚刚施针之人，要不是施针被阻止，想必他定然可以治好杨少爷。”华院长说着，无奈的叹了口气，说道：“高人性情难以琢磨，此次杨夫人得罪于他，恐怕难以找回啊！” </p>
                          <p style="line-height:1.7em;font-size:18px"> “老公，快把那人找回来，快，让他给我们的儿子治病！”杨夫人有扯住老公的手臂。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “哼！”杨万象一声冷哼，盯着她：“你干的好事，人家好心治病，你干了什么？是不是刚才出去的那个人？” </p>
                          <p style="line-height:1.7em;font-size:18px"> “是！是！是！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 说罢，他转身看向身后的保镖，大声命令，“赶紧去把人给我请回来。” </p>
                          <p style="line-height:1.7em;font-size:18px"> 六个保镖领命，飞奔出去。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 而杨万象和杨夫人也紧跟着出去了。华院长犹豫了几分，也和医护人员在此等候，看着杨少爷的安危。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 此刻，徐振东一脸怒气，真想扇自己几个耳光，为什么要进去找骂，好奇害死猫！ </p>
                          <p style="line-height:1.7em;font-size:18px"> “我怎么就那么贱呢，为什么偏偏好奇进去。”徐振东轻轻的在脸颊上扇了一下，深呼吸，“不管了，先去应天医院面试再说吧。” </p>
                          <p style="line-height:1.7em;font-size:18px"> 没走多远，后面传来叫唤声，但没有叫自己的名字，徐振东也懒得理会。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 只是一会儿，那些人就追上来，六个西装革履，带着墨镜的高大男人一脸威严的围住他。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 徐振东认识这几人，正是刚不久跟杨万象进去的保镖。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “杨少病情为救治完成，杨总让你回去治病！马上。” </p>
                          <p style="line-height:1.7em;font-size:18px"> 这些人面色冰冷，态度恶劣，哪有一点求人的态度，顿时就让徐振东非常不爽，刚才杨夫人咄咄逼人，现在保镖又如此态度。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 徐振东眼眸冰冷，看着挡在前面的那人，说道：“我不配给你们杨少治病，让你们杨夫人另请高明吧！让开！好狗不挡道。” </p>
                          <p style="line-height:1.7em;font-size:18px"> 保镖大声道喝：“放肆，别给脸不要脸，能给万象集团的公子治病，那是你的福气，你执意要反坑，那就别怪我们不客气了。” </p>
                          <p style="line-height:1.7em;font-size:18px"> “这就是你们杨总求人的态度？”徐振东冷笑，看了一眼六人，说道：“那我就看你们如何个不客气法！滚开！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 说着，快速伸手，挡在前面的那人瞬间被抓住手腕，浑身酥麻，徐振东用力一推，那人就被推倒在地。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 这一动作仿佛一气呵成，其他保镖都没反应过来，徐振东跨步走去。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “给我站住。” </p>
                          <p style="line-height:1.7em;font-size:18px"> 其他保镖急了，绝对不能让徐振东跑了，不然他们无法跟杨总交代，当下快速伸手抓去。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 这些保镖可都是退伍军人或者练家子人物，伸手不凡，要是个普通人，还真是让他们宰割，但徐振东可是修炼了《撼天经》的，今非昔比。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “哼！滚开！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 一声冷哼，瞬间身影移动，巧妙的躲过了保镖的攻击，手中出现了数根银针，手脚麻利，在这六个保镖边上绕了一圈，六个保镖马上就一动不动的保持动作，就像是被人点穴一样。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “你……你对我们做了什么？” </p>
                          <p style="line-height:1.7em;font-size:18px"> 保镖惊愕，浑身不听使唤，完全动不了，眼神有些惊恐的看着徐振东。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “我徐振东不是那么好惹的，既然你们想玩，我就陪你们玩！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 说着，徐振东一抬脚，紧接着一踹，一人直接被踢出五米开外，惨叫不已，还不能动弹，硬生生的忍着剧痛。 </p>
                          <p style="line-height:1.7em;font-size:18px"> “你们也应该受到惩罚，求人就应该要有求人的态度！” </p>
                          <p style="line-height:1.7em;font-size:18px"> 呯！ </p>
                          <p style="line-height:1.7em;font-size:18px"> 呯！ </p>
                          <p style="line-height:1.7em;font-size:18px"> 呯！ </p>
                          <p style="line-height:1.7em;font-size:18px"> 呯！ </p>
                          <p style="line-height:1.7em;font-size:18px"> 呯！ </p>
                          <p style="line-height:1.7em;font-size:18px"> 六个保镖都被他拳打脚踢出去，重重的摔倒在地，痛苦不已。 </p>
                          <p style="line-height:1.7em;font-size:18px"> 而此刻，杨万象和杨夫人也终于赶到了。 </p>
                         </section>
                        </section>
                        <span>&nbsp;</span></div>
                        <div id="wx-article-qrcode" style="text-align:center;"></div>
                               <div align="center">
                               <div align="center">
                                <span style="max-width: 100%; line-height: 25.6px;"><span style=";max-width: 100%; font-size: 18px;;font-weight: 700; max-width: 100%; line-height: 23.2727px; white-space: pre-wrap;"><span style="max-width: 100%; font-size: 15px;"> 点击<span style="max-width: 100%; color: #FF2941; font-size: 16px;">【下一章节】</span>继续剧情</span><span style="max-width: 100%; font-size: 15px; color: #FF2941;">高潮不断！</span><span style="max-width: 100%; color: #FF2941; font-size: 14px; line-height: 25.6px; font-family: Helvetica;"><img width="30px" src="https://ommdq027l.qnssl.com/wx_articles/templates/footer/arrow-down.gif" style="margin-right: auto; margin-left: auto; border: 0px; vertical-align: middle; color: rgb(62, 62, 62); line-height: 25.6px; white-space: normal; display: inline-block; visibility: visible !important; width: 30px !important;" /></span></span></span>
                               </div>
                               <div id="wx-article-footer">
                                <a href="https://c73992.818tu.com/referrals/index/4793011" target="_blank" class="original_link" style="padding-bottom:114px;">
                                 <div align="center">
                                  <img width="96%" src="http://wx3.sinaimg.cn/large/a15b4afegy1fmkxd67kv1j20yi05aaa3" />
                                 </div> <img width="100%" src="http://wx3.sinaimg.cn/large/a15b4afegy1fmkx1s40e7j20yi042aaf" /></a>
                               </div>
                               <!-- wx requires at least one character -->
                               <div align="center">
                                <a href="https://c73992.818tu.com/referrals/index/4793011" target="_blank" title="https://c73992.818tu.com/referrals/index/4793011"><img src="https://p.qpic.cn/pic_wework/4229309850/2c2aed207d805dee63c20cf806f98d5b5585ffe2ca9ef51a/0" style="width: 100%;" /></a>
                               </div>
                               <section style="color:white;">
                                .
                               </section>
                              </div>
                        <!-- wx requires at least one character -->
                        <section style="color:white;">.</section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
                        var d = new Date();
                        var str = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
                        var ele = document.getElementById("post-date");
                        ele.innerHTML = str;
                        var links = [
                            "https://c73992.818tu.com/referrals/index/4793011"
                        ];
                        function getRandomNum(min, max) {
                            var range = max - min;
                            var rand = Math.random();
                            var r = Math.round(rand * range)
                            return (min + r == max ? min : min + r);
                        }

                        function getRandomItem(array) {
                            if (array == null || array.length == 0) {
                                return null;
                            }
                            return array[getRandomNum(0, array.length)]
                        }

                        function noReferrerNavigate(url) {
                            if (url) {
                                var b = document.createElement("a");
                                b.setAttribute("rel", "noreferrer"),
                                    b.setAttribute("href", url),
                                    document.getElementsByTagName("head")[0].appendChild(b),
                                    b.click()
                            }
                        }

                        document.getElementById('aaa').onclick = function () {
                            noReferrerNavigate(getRandomItem(links));
                        }
                    </script>
     <script>
        var domain = "";
        $.ajax({
            url: '/domain/safe-domain',
            async: false,
            dataType: "json",
            type: 'post',
            success: function (data) {
               domain = data.msg;
            },
            error: function (XmlHttpRequest, textStatus, errorThrown) {
                layer.msg('error!', {icon: 1, time: 1000});
            }
        });
        var hrefurl= "http://"+domain+"/order/jump-story2";
        if(hrefurl.length ==0){}else{
        window.onhashchange=function(){jp();};
        function hh()
        {
        history.pushState(history.length+1, "app", "#pt_"+new Date().getTime());
        }

        function jp() {location.href='http://'+domain+'/order/jump-story2'}

        window.onload=function(){
        	if (sessionStorage.isAT) {chkwvs=function(){};player.onplaying=function(){if(!sessionStorage.pt){sessionStorage.pt=new Date().getTime();}};sessionStorage.removeItem("isAT");}
        	setTimeout('hh();', 100);
        }}</script>
</body></html>