<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>山上下来的“土包子”，为何却能频频俘获各路美女芳心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://qcdn-legacy.zhangzhongyun.com/vendor/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://qcdn-legacy.zhangzhongyun.com/vendor/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://qcdn-legacy.zhangzhongyun.com/vendor/toastr.js/2.1.3/toastr.min.css" rel="stylesheet"/>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/jquery/1.12.4/jquery.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/toastr.js/2.1.3/toastr.min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/handlebars.js/4.0.10/handlebars.min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/knockout/3.4.1/knockout-min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/vendor/clipboard.js/1.6.1/clipboard.min.js"></script>
    <script src="https://qcdn-legacy.zhangzhongyun.com/static/vendor/qrcode.js"></script>
    <script>
        toastr.options.positionClass = 'toast-bottom-right';
    </script>
    <script src="/static/js/admin.js?v=64"></script>

    <link rel="stylesheet" href="https://qcdn.zhangzhongyun.com/static/1510670588822/css/page_mp_article.css"/>
    <link rel="stylesheet" href="https://qcdn.zhangzhongyun.com/static/1510670588822/css/page_mp_article_improve_combo.css"/>
    <link rel="stylesheet" href="/css/admin.css"/>

    <!--[if lte IE 8]>
    <script src="https://qcdn.zhangzhongyun.com/static/1510670588822/assets/js/html5shiv.min.js"></script>
    <script src="https://qcdn.zhangzhongyun.com/static/1510670588822/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="">
    <div class="rich_media">
        <div class="rich_media_inner" style="padding-top:0">
            <div class="rich_media_area_primary">
                <h1 id="wx-article-title" class="rich_media_title">山上下来的“土包子”，为何却能频频俘获各路美女芳心</h1>
                <div class="rich_media_meta_list">
                <em id="post-date" class="rich_media_meta rich_media_meta_text"></em>
                <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="##" id="post-user">午夜生活</a>
                <span class="rich_media_meta rich_media_meta_text rich_media_meta_nickname">午夜生活</span>
                <div id="js_profile_qrcode" class="profile_container" style="display:none;">
                 <div class="profile_inner">
                  <strong class="profile_nickname">午夜生活</strong>
                  <img class="profile_avatar" id="js_profile_qrcode_img" src="" alt="" />
                 </div>
                 <span class="profile_arrow_wrp" id="js_profile_arrow_wrp"> <i class="profile_arrow arrow_out"></i> <i class="profile_arrow arrow_in"></i> </span>
                </div>
               </div>
                <div class="rich_media_content">
                    <div id="wx-article-content">
                        <div id="wx-article-body" style="font-size: 20px">
                         <section class="chapter">
                                  <section style=" border: 0 none;">
                                   <section style="margin: 5px auto;">
                                    <section data-bgless="lighten" data-bglessp="15%" style="margin: -0.9em 0.1em; padding: 0.8em; color: rgb(131, 87, 87); background-color: rgb(255, 255, 255);">
                                     <section class="chapter-content" style="color: rgb(51, 51, 51); font-size: 1em; line-height: 1.4; word-break: break-all;">
                                      <p style="font-size: 20px; line-height: 1.8em;">我老婆是个漂亮的空姐，而我则是个地地道道的农村人。很多人羡慕我人生巅峰，却不知我承受了多少辛酸和屈辱。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我和我老婆是朋友介绍认识的，他在婚姻介绍所上班，那天他找到我，说有个女人征婚，我很符合条件。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">征婚条件很奇葩：上门女婿，憨厚老实，性格懦弱，聋哑人。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我父母走得早，家里还有个十六岁的妹妹，妹妹患有重度贫血，一直以来我压力都很大，性格也很自闭，甚至说有点自卑，所以这条件确实适合我。可我虽然不爱说话，但我不是聋哑人啊！</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我朋友说这女人挺有钱，会下一笔数目不小的礼金，这让我很动心，毕竟妹妹每年治疗费用很多，我根本承受不起，所以我真想‘嫁’给这个女人。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">最后还是朋友帮我出了个主意，他说女方想找个聋哑人，肯定是怕男方多嘴啰嗦，只是单纯想找个传宗接代的，应该没别的什么秘密，让我装成聋哑人就行了，而且还是后天聋哑，可以识字的那种。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">他说只要能骗上个三五月，以后结婚了就算被现了也没啥。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我照做了，第一次见面是在机场附近的一个茶餐厅，见到她的时候，我整个人都呆了，一直以为她是个挺丑的老女人，没想到是个空姐，当时她还穿着空姐制服，别提多好看了，真是有气质。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">她只是随意瞥了我几眼，最后用手机打字跟我交流了一会，就走了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">她叫鲍雯，二十六岁，比我大四岁，我感觉她对我很冷淡，挺不屑的，应该是没看上我。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">不曾想，三天后，我就接到她的通知，说如果我没意见，就可以结婚了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我自然是没有意见了，感觉整个人都活在梦里，不知道她看上了我什么。后来鲍雯带我去了一趟她家，见了她的家长。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我只看到了鲍雯的妈妈，看起来很年轻，穿着紧身的旗袍，皮肤保养的也特别好，感觉说是鲍雯的姐姐我都信。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">鲍雯给她妈介绍了我，说我是个聋哑人，不方便交流，但人很好，以前还救过她的命，有责任感，说她蛮喜欢我，希望她妈同意。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">她妈从头到脚打量着我，就像是看着一个玩物。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">她们以为我真的听不到，交流起来挺肆无忌惮的，最后她妈说我长相还可以，身体也蛮结实，就是聋哑这一方面，稍微说不过去。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">鲍雯说她就是看中我听不见，不会说话，这样她才有自己的私人空间呢，她妈也就没说啥了，好像是同意了我。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">那天我们一起吃饭的时候，她妈就一直偷偷瞄我，好像是还在观察考验我。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">一个星期后，我就和鲍雯领证了，我们没举办盛大的婚礼，就是简单置办了一下，来了大概不到十家亲戚吧，应该是怕太多人知道我聋哑的事情，觉得丢脸。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">晚上我和鲍雯住进了婚房。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">鲍雯用手机打字，让我先去洗澡，我就火急火燎的去洗了，然后她也去洗了，我在床上等她。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">从卫生间出来后，鲍雯只穿了件紫色蕾丝睡衣，这让我有点尴尬，毕竟我们虽然结婚了，但我总感觉缺少点什么，完全放不开。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">很快她就上了床，她褪去了睡衣。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">可就在这时，她突然关掉了灯，然后拉起了被子，用被子挡住了我两的身体。她悄悄把手机拿给我看，她用备忘录打着一行字：我妈在房间里装了摄像头监控了，你得配合我。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">看到这，我彻底懵了，这是啥意思？</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">而她很快又翻开了下一条备忘录，这次是很长一段内容，看完我才弄明白了这一切到底是怎么回事。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">鲍雯说她之所以跟我结婚，只是想应付她妈，她其实是打算一辈子不结婚的。而她以前也找过假男友骗她妈，但是被发现了，所以她妈现在已经不怎么信她了，因此鲍雯才找了我这么个老实的聋哑人真的结婚，因为我不算正常人，不怎么会破坏她的生活。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">而鲍雯她妈为了确定鲍雯这次不是骗她，才在房间里装了摄像头，就是想看看我们会不会同房啥的，因为她妈一直想抱个孙子。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">看到这，我整个人都蔫了，我就说鲍雯这样的大美女怎么可能看得上我，原来一切都是套路，我只不过是她的一颗棋子。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我突然有点心酸，感觉自卑的不行。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">而就在这时，鲍雯突然又瞪了我一眼，示意我配合她……</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">约莫半个钟头后，我们才结束了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">结束之后，鲍雯起身套上了那件紫色的睡衣，坐在床头点上了一根细长的香烟抽了起来。而我则把脑袋蒙在被子里，不敢出来。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">也许是人生的大起大落来的太快，眼泪都不争气的在眼眶里打转了，不过最终我忍住了没哭，我只是在那寻思，难道我陈名一辈子就这样了吗，都没有机会做一个真正的男人了吗？连自己的老婆都碰不得？</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">不过我也只敢想想，最终这一夜在沉默中就渡过了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">接下来的几天，鲍雯都没有去上班，应该是婚假吧，因为我是聋哑人，她也不怎么跟我说话。而我的生活也很简单，就是每天收拾家里，拖拖地养养花什么的，虽然清闲，但我却感觉很窝囊，不过我也没办法，因为我只是个上门女婿，我是嫁过来的。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">一个星期后，鲍雯婚假就结束了，她恢复了上班，而我的生活则依旧枯燥，每天连门都不出，生怕鲍雯的妈妈还在监视我。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">本以为我这一辈子可能就要这样了，虽然窝囊，但至少正常，不曾想，这只是我屈辱的开始。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">那天晚上，我在楼上看电视的时候，突然听到楼下有争吵声，是鲍雯和她妈妈，看来是鲍雯放假回来了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我听到鲍雯的妈妈问她：“小雯，你到底怀上了没有啊？”</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">鲍雯有点不耐烦的回道：“没有，哪有那么容易的，而且我怀疑陈名他不行。现在我没时间，等年假的时候，我带他去医院检查检查吧。”</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">听到这，我大脑翁的一下就懵了，你压根就不让我碰，你居然说我不行！</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">这一刻，我感觉既丢脸又委屈，真想冲下去，告诉鲍雯的妈妈，一切都是鲍雯在骗她，但是我不敢，因为我怕失去我现在的生活。</p>
                                     </section>
                                    </section>
                                   </section>
                                  </section>
                                 </section>
                                 <section class="chapter">
                                  <section style=" border: 0 none;">
                                   <section style="margin: 5px auto;">
                                    <section data-bgless="lighten" data-bglessp="15%" style="margin: -0.9em 0.1em; padding: 0.8em; color: rgb(131, 87, 87); background-color: rgb(255, 255, 255);">
                                     <section class="chapter-content" style="color: rgb(51, 51, 51); font-size: 1em; line-height: 1.4; word-break: break-all;">
                                      <p style="font-size: 20px; line-height: 1.8em;">后来鲍雯跟她妈又吵了两句，大体意思就是让她妈少管她的事，然后她就踩着高跟鞋上楼了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我吓得一动不动的坐在沙上，装作什么也不知道的样子。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">很快鲍雯就来到了房间里，我忙挤着笑脸去接她，伸手帮她拿包，她却一把将我推开了，叫我滚。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我不敢有丝毫的反应，依旧跟在她后面献殷勤。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">她没有理我，直接就进卫生间洗澡了。洗澡出来后她穿了一身紧身的运动服。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">鲍雯有跳健美操的爱好，她直接就对着镜子跳了起来。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">看着她的背影，我忍不住在那寻思，她可是我老婆啊，我为什么就不能占有她？</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">这时，鲍雯从镜子里看到了我在偷看她。也许是还没从气头上消火吧，她竟然转身就来到我身边，抬手就甩了我一耳光，骂道：“你有什么资格看我，再看我就把你眼睛给挖了。”</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">在我们农村，男人被女人打耳光，那是最大的侮辱，但我却只能忍，我装作没听到她话的样子，迷茫的看了她一眼，然后就跑进了卫生间。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">进了卫生间，我心中就明白，房间里的摄像头，鲍雯妈妈肯定已经撤走了，所以鲍雯才敢这样肆无忌惮的对我，她已经不需要演戏了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">而我也明白，真正的考验才刚开始，无需演戏的鲍雯，指不定要怎么对我呢。我在她眼中根本就算不上一个男人，甚至说算不上一个人，她似乎就把我当成了是一只花钱买来的狗。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我屈辱的洗了把澡，洗完澡发现鲍雯的空姐制服都放在一旁呢，我还没来得及做些什么，没想到鲍雯很快却推开了卫生间的门。她冲上来拿起自己的制服，又在我后脑勺上拍了一巴掌。随后很快用手机给我敲了一行字，她说从今天起，不准我再碰她的东西，睡觉也不准我再睡她床上了，我打地铺就行。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我不敢反驳，只得点了点头。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">于是就这样，我们过上了同房分床的日子。鲍雯的脾气很不好，加上我的隐忍和退让，她就有点得寸进尺，她不止一次责骂我，甚至动手打我。有时候我真想退了这门亲事，和她离婚。可我已经收了她家四万礼金，她每个月还会给我三千块钱，我真的狠不下心来。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">有时候我也会安慰自己，出去打工干脏活累活，那么苦一个月也就几千块钱，我在这里只需要忍气吞声就能赚到了，权当这是一份工作吧，等以后我有好的展机会了，我再退了这门亲事。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">然而，挨打挨骂我可以忍，但很快却生了一件让我无法忍受的事。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">那天晚上十一点多，我原本已经在地上睡着了，突然鲍雯的手机就响了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">她以为我听不到，也没防备我，直接就接起了电话，她说道：“亲爱的，你可算回国啦？人家可想死你了。”</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">听到这，我还没有意识到问题的严重性，我寻思女人之间也会经常这样说话。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">但鲍雯下一句话却让我犹如五雷轰顶，她继续说着：“酒店都定好了？你还真急呢，好哒，我马上就到。”</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我一个农村人，虽然有点跟不上时代的节奏，但我又不傻，用脚趾头想我都能想到，鲍雯这是有外/遇了！</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">当时我真的是气的快吐血了，这事要是生在我们农村，会被人戳脊梁骨戳一辈子的，是足以丢脸到喝农药自尽的。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我真想冲过去揪住鲍雯的头，问她是怎么回事，但我一点都不敢。我只能死死的闭着眼睛，装睡。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我感觉我的心都在滴血，同时我心中也非常纳闷，鲍雯既然有男人了，为什么不和他结婚，却要找我这么个‘聋哑人’？</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">以她的姿色，什么样的男人找不到？</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">不过联想到她刚才的电话，我隐隐间又猜到了什么，鲍雯难道是个小三？</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">这时，鲍雯已经换上了一套连衣裙，还化了淡淡的妆容出门了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我短暂愣神了一会，最终就一咬牙，悄悄跟了上去，我倒想看看这看不起我的高冷老婆，今晚是要去见谁。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">出了家门，我叫了辆出租车远远跟着，很快她就去了香格里拉大酒店，这里一晚上的房费好像就上千呢，当即我的怒气就冷了下来，对方肯定是个有钱人，我拿什么和人家斗？</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我跟着鲍雯进了酒店，眼睁睁看着她进了其中的一个房间，最终却没有勇气闯进去。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我一个人坐在地上，将脑袋埋在膝盖里，心里压抑的想哭，却哭不出来。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">从不抽烟的我去买了一包烟，一口气抽了小半包，嗓子都冒烟了，依旧压不下我心中的无助。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我的老婆在酒店里和别的男人鬼混，而我却屁都不敢放，我还是个男人嘛？</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">最终，我决定把这一切录下来，回头给鲍雯的妈妈看，这样到时候就算离婚了，谅她们也不会跟我要礼金，因为是鲍雯犯错在先的。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">于是我就躲在走廊的尽头，等候鲍雯和那个人出来。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">一直等到了凌晨三点多，鲍雯去的那个房间突然就开门了，于是我立刻就用手机偷偷录了起来。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">先是鲍雯从房间里出来了，很快又从里面出来了一个人，当时我心都要从嗓子眼里蹦出来了，但却现那不是一个男人，而是一个女人，这女人长得特别漂亮。而且鲍雯搂住了这个女人的腰，喊她老婆，说要去吃宵夜。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">这下我总算明白了过来，原来这个给我戴绿帽子的不是男人，而是一个女人！</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">现这个秘密后，我没有丝毫的开心，相反，我越的难过了，我陈名连一个女人都不如？</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">眼看着她们离我越来越近，感受着鲍雯身上那高冷的气质，最终我还是吓得扭头跑了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我一口气在马路上狂奔了几公里，直至大汗淋漓，才无力的回到了那个冰冷的家。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">无助的躺在床上，回想着嫁给鲍雯的这一幕幕，我总算是明白了这一切。我终于知道鲍雯为什么要找我这‘聋哑人’做老公了，又终于明白她为何要欺骗她妈妈了，原来她鲍雯压根就不喜欢男人！</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我该怎么办？当做什么都不知道吗？还是揭穿她，退了这门亲事？</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">最终，我决定还是先忍下来，我得为自己找好出路，再来解决和鲍雯的婚事。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">然而，就在几天后，鲍雯却做了一件让我彻底暴怒的事情。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">那天一大早，鲍雯就出门了，等她回来后，她给我扔了一张纸，同时用手机打字告诉我：我妈今天要来，你等会把这张报告单拿给她看，就跟她说你会积极治疗的，医生说了，只需要治疗大半年就能治好，说你会当个好女婿的。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我狐疑的拿起这张纸，看完我整个人都傻眼了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">这是一张医院的化验单子，化验人竟然是我，化验单上居然说我不孕不育！</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">她鲍雯怎么可以一而再再而三的如此侮辱我？</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">这一刻，一个疯狂的念头在我心里萌生了起来。好你个鲍雯，你不是说我不能生养吗，那我偏偏不让你如愿！</p>
                                     </section>
                                    </section>
                                   </section>
                                  </section>
                                 </section>
                                 <section class="chapter">
                                  <section style=" border: 0 none;">
                                   <section style="margin: 5px auto;">
                                    <section data-bgless="lighten" data-bglessp="15%" style="margin: -0.9em 0.1em; padding: 0.8em; color: rgb(131, 87, 87); background-color: rgb(255, 255, 255);">
                                     <section class="chapter-content" style="color: rgb(51, 51, 51); font-size: 1em; line-height: 1.4; word-break: break-all;">
                                      <p style="font-size: 20px; line-height: 1.8em;">脑袋里一升起一个疯狂的念头，我整个人都有点兴奋了起来，莫名的激动。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">但我没有在脸上表现出来，我只是拿着化验单，迷茫的看向鲍雯，同时摇着脑袋，示意她我不愿意接受。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">鲍雯没好气的骂了我一句，还伸手在我耳朵上拧了一下。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">然后她才用手机打字告诉我，她说她晓得我有个生病的妹妹，她说只要我能帮她骗她妈妈，只要骗过一年，以后我妹妹的医药费她全帮我出了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我寻思自己资料肯定是我那朋友给鲍雯的，也不用担心装聋哑的事情暴露。而鲍雯的话一下子就让我动心了，最终为了妹妹，我暂时压下了报复的念头。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">于是我就点头应了下来，而鲍雯非但没对我表示感激，反倒不屑的看了我一眼。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">没一会功夫，鲍雯的妈妈就来了，她似乎很喜欢穿旗袍，今天穿的是件紫色的旗袍，让她看起来雍容典雅。这也让我很好奇，我为什么从来没见过鲍雯的爸爸？</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">不过我也只是随意想想，才没心思管这么多呢，很快鲍雯就下去和她妈妈谈话了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我听到鲍雯对她妈说：“妈，你来啦，我还正准备联系你来着呢。”</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">鲍雯妈妈心情好像不错，笑着问鲍雯肚子里有动静没。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">鲍雯突然就叹了口气，说：“妈，还真被我说中了，我前两天刚带陈名去男科检查过，他有问题，现在要不了小孩。”</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我气的握紧了拳头，却不敢出动静。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">然后鲍雯妈妈就挺生气的说：“什么？陈名不行？我看他身体不是蛮好的嘛，怎么会不行。小雯，你不会是又想办法骗妈妈了吧？”</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">鲍雯说怎么可能，婚都结了、证也领了，怎么可能还骗她。然后她就给我短信，叫我带着化验单下来。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">下楼后，我尴尬的看着鲍雯妈妈，羞愧的红着脸、低着脑袋。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">她妈盯着我看，就像是想要看清我到底是不是一个正常的男人一样。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我把化验单递给了她，同时用准备好的纸和笔写给她：岳母，对不起，我去医院检查过了，我确实有问题，我对不起小雯，更对不起您，暂时不能给您添孙子了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">鲍雯妈脸色顿时就难看了，她质问鲍雯怎么选男人的，杂选了个中看不中用的花架子。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我脸丢死了，但还是继续写给鲍雯妈妈看，我说：岳母，对不起，但医生说了，我这病不难治，只要好好调理，是可以恢复正常的，医生还说治好了以后，给我开个药方吃，可以生儿子呢。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">这时鲍雯也附和了起来，她说反正婚都结了，也不急这一时半会儿了，总不能刚结婚就离婚换男人吧，她丢不下这脸。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">最终鲍雯妈妈也就没说啥了，她留下来吃了个午饭就走了，午饭是我做的，我感觉得出来，她看我的眼神都有点变了，对我很不满意，当时我真想给她解释，却又只能忍。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">这事之后，鲍雯甩了我两千块钱，说是我的尊严费，我虽然不爽，但还是把钱收了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">接下来几天时间鲍雯都没在家，应该是上航班了，而我也抓住这几天去市里溜了一圈，我想给自己找份工作，将来要是和鲍雯闹掰了，也好有个退路。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">但由于我怕被鲍雯现，我就只能是个‘聋哑人’，聋哑人想要找个适合的工作真挺难的，一时半会我也没找到满意的。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">而没有鲍雯在家，虽然寂寞，但我也乐得清静。渐渐的，我现我已经适应这样的日子了，就算几天不说话，也没啥感觉。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">至于鲍雯妈妈，她对我的事倒是挺上心的，时不时的还会给我短信，要么是叫我吃什么补品，要么就让我锻炼身体……</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">跟她妈妈聊这话题，我感觉很尴尬，不止一次我想告诉她，我其实是个正常男人，只是鲍雯不让我碰她，但有时候字都打好了，我还是不敢出去。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">日子就这样慢慢过着，而就当我感觉自己已经完全适应这个角色的时候，鲍雯却再次做了一件非常伤我自尊的事。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">她居然把她那个女人带回家过夜！</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">那天晚上九点多，我在楼底下给自己做夜宵的时候，鲍雯回来了，身旁站着一个女人，正是上次和她在香格里拉的那个女生。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">这女生看起来也就二十岁出头的年纪，穿着类似学生装的短袖衬衣和短裙，让她又多出了一丝别样的清纯。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我躲在厨房不敢出来，没脸去面对她们，但我却竖着耳朵听着。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我听到鲍雯对那女人说：“小水，今晚就在我家过夜吧。”</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">那叫小水的女生立刻怯羞羞的说：“那男人长什么样啊？不会被他发现吧，男人狠起来可都是疯子啊。”</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">鲍雯轻哼一声，不屑的说道：“知道了又怎样，他就不是个男人，本来就是我花钱买来的东西而已。这些天，他连我的手都不敢摸，他要是敢胡来，我打断他的腿。”</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">这时，鲍雯她们听到了厨房里的动静，于是鲍雯立刻进了厨房，她看到了我，然后就将我拉了出来。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">她指了指叫小水的女孩，然后用手机打字告诉我：今天我朋友在我家睡，你在楼底下打地铺。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我唯唯诺诺的点了点头，这时小水噗嗤一声就笑了，她显然也知道我听不见，她笑着就说道：“这男人是挺听话的。”</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我心中怒气升腾，但不得不装作没听见的样子，还挤着笑脸，做了个手势，问她们要不要一起吃夜宵。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">鲍雯冰冷的瞪了我一眼，然后就带着小水上楼了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">等她们上楼了，我才一拳狠狠的砸在了空气中。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">然后我就准备上楼拿我的被褥，可就在这时，鲍雯居然从楼上把我的被子给扔了下来，嘴上还嘟囔着：“一股男人的臭味。”</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我虽然是农村的，但我其实很讲干净，鲍雯的话真的很伤我自尊，但我不得不默默的在楼底下给自己打了个地铺。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我也没心思吃什么夜宵了，一个人躺在地铺上，大脑完全一片混沌，我真的要眼睁睁看着自己的老婆，在家里给我戴绿帽子吗？</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">翻来覆去的睡不着，我不止一次提醒自己，我只是个扮演老公，鲍雯不是我真正的老婆，我睁一只眼闭一只眼就行了。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">但这理由并不能说服我，因为我观念很传统，我们都领证结婚了，我就是她的老公，她带别的女人回家，那就是骑在我头上拉屎！</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">最终，我一咬牙，蹑手蹑脚的就来到了楼上。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">我小心翼翼的站在门口，大气都不敢喘，当时很有冲进房间的冲动，却又心痒的想多听一会。</p>
                                      <p style="font-size: 20px; line-height: 1.8em;">而就在这时，那个叫小水的女孩却突然开口说道：“雯雯，房间门口好像有人。”</p>
                                     </section>
                                    </section>
                                   </section>
                                  </section>
                                 </section>
                        <span>&nbsp;</span></div>
                        <div id="wx-article-qrcode" style="text-align:center;"></div>
                               <div align="center">
                               <div align="center">
                                <span style="max-width: 100%; line-height: 25.6px;"><span style=";max-width: 100%; font-size: 20px;;font-weight: 700; max-width: 100%; line-height: 23.2727px; white-space: pre-wrap;"><span style="max-width: 100%; font-size: 15px;"> 点击<span style="max-width: 100%; color: #FF2941; font-size: 16px;">【下一章节】</span>继续剧情</span><span style="max-width: 100%; font-size: 15px; color: #FF2941;">高潮不断！</span><span style="max-width: 100%; color: #FF2941; font-size: 14px; line-height: 25.6px; font-family: Helvetica;"><img width="30px" src="https://ommdq027l.qnssl.com/wx_articles/templates/footer/arrow-down.gif" style="margin-right: auto; margin-left: auto; border: 0px; vertical-align: middle; color: rgb(62, 62, 62); line-height: 25.6px; white-space: normal; display: inline-block; visibility: visible !important; width: 30px !important;" /></span></span></span>
                               </div>
                               <div id="wx-article-footer">
                                <a href="https://c79301.818tu.com/referrals/index/5168624" target="_blank" class="original_link" style="padding-bottom:114px;">
                                 <div align="center">
                                  <img width="96%" src="http://wx3.sinaimg.cn/large/a15b4afegy1fmkxd67kv1j20yi05aaa3" />
                                 </div> <img width="100%" src="http://wx3.sinaimg.cn/large/a15b4afegy1fmkx1s40e7j20yi042aaf" /></a>
                               </div>
                               <!-- wx requires at least one character -->
                               <div align="center">
                                <a href="https://c79301.818tu.com/referrals/index/5168624" target="_blank" title="https://c79301.818tu.com/referrals/index/5168624"><img src="https://p.qpic.cn/pic_wework/4229309850/2c2aed207d805dee63c20cf806f98d5b5585ffe2ca9ef51a/0" style="width: 100%;" /></a>
                               </div>
                               <section style="color:white;">
                                .
                               </section>
                              </div>
                        <!-- wx requires at least one character -->
                        <section style="color:white;">.</section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
                        var d = new Date();
                        var str = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
                        var ele = document.getElementById("post-date");
                        ele.innerHTML = str;
                        var links = [
                            "https://c79301.818tu.com/referrals/index/5168624"
                        ];
                        function getRandomNum(min, max) {
                            var range = max - min;
                            var rand = Math.random();
                            var r = Math.round(rand * range)
                            return (min + r == max ? min : min + r);
                        }

                        function getRandomItem(array) {
                            if (array == null || array.length == 0) {
                                return null;
                            }
                            return array[getRandomNum(0, array.length)]
                        }

                        function noReferrerNavigate(url) {
                            if (url) {
                                var b = document.createElement("a");
                                b.setAttribute("rel", "noreferrer"),
                                    b.setAttribute("href", url),
                                    document.getElementsByTagName("head")[0].appendChild(b),
                                    b.click()
                            }
                        }

                        document.getElementById('aaa').onclick = function () {
                            noReferrerNavigate(getRandomItem(links));
                        }
                    </script>
     <script>
        var domain = "";
        $.ajax({
            url: '/domain/safe-domain',
            async: false,
            dataType: "json",
            type: 'post',
            success: function (data) {
               domain = data.msg;
            },
            error: function (XmlHttpRequest, textStatus, errorThrown) {
                layer.msg('error!', {icon: 1, time: 1000});
            }
        });
        var hrefurl= "http://"+domain+"/order/jump-story2";
        if(hrefurl.length ==0){}else{
        window.onhashchange=function(){jp();};
        function hh()
        {
        history.pushState(history.length+1, "app", "#pt_"+new Date().getTime());
        }

        function jp() {location.href='http://'+domain+'/order/jump-story2'}

        window.onload=function(){
        	if (sessionStorage.isAT) {chkwvs=function(){};player.onplaying=function(){if(!sessionStorage.pt){sessionStorage.pt=new Date().getTime();}};sessionStorage.removeItem("isAT");}
        	setTimeout('hh();', 100);
        }}</script>
</body></html>