<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html" layout:decorate="~{layouts/layout}">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="dns-prefetch" href="http://res.wx.qq.com/" />
  <link rel="dns-prefetch" href="http://mmbiz.qpic.cn/" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, Chrome=1" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  <link rel="shortcut icon" type="image/x-icon" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/icon/common/favicon22c41b.ico" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <title>趣闻新看点</title>
  <meta content="" itemprop="image" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="http://staticoss.moc2c.com/tpl/static/Qzshare/page_mp_article_improve251980.css" />
  <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve_pc24ed02.css"><![endif]-->
  <!--<script  src="http://staticoss.moc2c.com/tpl/template.js"></script>-->
  <meta content="" itemprop="image" />
  <script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.0.3/jquery.min.js" charset="UTF-8"></script>
 </head>
 <body id="activity-detail" class="zh_CN mm_appmsg" ontouchstart="">
  <script>
       // var jumpurl =  'http://bx01.xab51q.cn/index.php/s/jdbsbo1539616002/15265.374315';
       // var jumpurl1 = 'http://bx01.xab51q.cn/index.php/s/jdbsbo1539616002/15265.374315';
	   var l_link = document.location.href;
	</script>
  <!--
答案编辑的地方
<div class="noanswer">
	<a href="javascript:showcontent();">查看答案</a>
</div>
<div class="answer">
	答案：蓝色-2
</div>
-->
  <div id="js_article" class="rich_media">
   <div id="js_top_ad_area" class="top_banner">
   </div>
   <div class="rich_media_inner" style="padding:0px!important;">
    <div id="page-content">
     <div class="video_exist" id="audio_btn" style="display:none;">
      <div id="yinfu" class="rotate"></div>
      <audio preload="" autoplay="" id="media" src="" loop=""></audio>
     </div>
     <div id="img-content" class="rich_media_area_primary">
      <h2 class="rich_media_title" id="activity-name"> <script>document.write("");</script> </h2>
      <div id="share_err">
      </div>
      <div class="rich_media_meta_list">
       <em id="post-date" class="rich_media_meta rich_media_meta_text"></em>
       <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="#" id="post-user"> </a>
      </div>
      <div class="rich_media_content" id="js_content">
       <div id="content2" style="margin: -3px">
           <script th:inline="javascript">
                /*<![CDATA[*/
                    var article = [[${article}]];
                    document.write(article.contentHtml);
                /*]]>*/
           </script>
           <div id="fanhui">
                <a target="_blank"   th:href="${article.wyArticle.gobackUrl}">
                   <img class="fhclass" src="https://pub-files.jinshuju.net/di/20181015160222_ae4f6c" />
                </a>
           </div>
           <br id="js_toobar" style="padding-top:10px;margin-top: 18px;margin-left: 10px;color: #8c8c8c;line-height: 32px;font-size: 17px;height: 32px;">
           <div  th:if="${article.wyArticle.readOriginalUrl != ''}">
                <a style="color:#607fa6;float: left;margin-right: 10px;text-decoration: none;-webkit-tap-highlight-color: rgba(0,0,0,0);" id="js_view_source"  th:href="${article.wyArticle.readOriginalUrl}">阅读原文</a>
               <div id="js_read_area" style="float: left;margin-right: 10px;">
                阅读
                <span id="" readnum="">100000+</span>
               </div>
               <div id="like" style="margin-right: 0;margin-left: 8px;float: left;-webkit-tap-highlight-color: rgba(0,0,0,0);outline: 0;min-width: 3.5em;">
                <i style="position: relative;top: 1px;margin-right: 3px;background: transparent url(../../images/4dfc41519a5447a1b31bb991f6ad7f0d.gif) no-repeat;width: 23px;height: 18px;display: inline-block;-webkit-background-size: 100% auto;background-size: 100% auto;"></i>
                <span class="praise_num" id="likeNum">15002</span>
               </div>
               <div style="float: right;margin-right: 10px;">
               </div>
           </div>
           &nbsp;&nbsp; &nbsp;&nbsp;<a style="text-decoration: none;-webkit-tap-highlight-color: rgba(0,0,0,0);color: #607fa6;"  href="javascript: clickJB();">举报</a>
           </br>
           </div>
         </div>
          <audio id='myaudio' loop='loop' preload='auto' autoplay='autoplay'>
               <source src='http://dl.stream.qqmusic.qq.com/C400003vYunL3xOXiM.m4a?vkey=F16BE69A31B7753F69D7FB879ABCDCD2253E61AB90A9F07CA3DBBD3DD4C9D02735699DF34A0B23DD2E8E65618B1FD71CB704EAA30D1EB8CA&amp;guid=5119412828&amp;uin=0&amp;fromtag=66'
                       th:src="${article.wyArticle.bgmUrl}" type='audio/mp3'/>
           </audio>
           <img id='audio_image' class="mcfhclass" onclick='swap_music()'
                src='https://pub-files.jinshuju.net/di/20181015160315_5fca3a' style='width: 30px;'/>
       </div>
        <div id="total" style="display: none">
            <script>document.write(article.wyArticle.statistical)</script>
         </div>
     </div>
    </div>
   </div>
    <style type="text/css">
        * {
            margin: -2px auto;
            padding: 0;
            font-style: normal;
        }
        .rich_media_title {
             margin-bottom: -42px;
             line-height: 1.4;
             font-weight: 400;
             font-size: 24px;
         } {
            margin-bottom: -28px;
            line-height: 1.4;
            font-weight: 400;
            font-size: 24px;
        }
       #share-wx {
       background: rgba(0,0,0,0.9);
       position: fixed;
       top: 0px;
       left: 0px;
       width: 100%;
       height: 100%;
       z-index: 10000;
       }
   .content_detail {}
   .content_detail img{max-width:100%}
   select {
       line-height: 28px;
       padding: 0 5px;
   }

   .dropdown-select, .datetimepicker {
       border: medium none;
       padding: 0px 10px;
       display: block;
       width: 100%;
       box-sizing: border-box;
       border-radius: 4px;
       font-size: 16px;
       background: url("http://wx.moc2c.com/tpl/static/Custom/DownArrow.png")  no-repeat scroll right center / auto 13px #FFF;
   }
   input.mt[type=radio],input.mt[type=checkbox]{-webkit-appearance:none;width:22px;height:22px;margin:-.07rem 0;border-radius:50%;border:1px solid #ddd8ce;text-align:center;vertical-align:middle;line-height:25px;outline:0}input.mt[type=radio]:checked,input.mt[type=checkbox]:checked{background-color:#2bb2a3;border:0;color:#fff}input.mt[type=radio]:checked:after,input.mt[type=checkbox]:checked:after{content:"✓";font-size:12pt;font-family:base_icon}.mt[disabled=disabled]{background:#eee;border-color:#ccc;color:#ccc}
   .alertnum{color:#F00; font-size:13pt;}
   /*.fhclass {*/
               /*position:fixed;*/
               /*width:30px;*/
               /*height:30px;*/
               /*left:50%;*/
               /*margin-left:-173px;*/
               /*top:53%;*/
               /*margin-top:-290px;*/
     /*}   */
     .fhclass {
            width: 30px;
            height: 30px;
            top: 20px;
            left: 20px;
            position: fixed;
            /*animation: myrotate 1.2s linear infinite;*/
            /*-webkit-animation: myrotate 2s linear infinite;*/
            border-radius: 15px;
     }
     /*.mcfhclass {*/
               /*position:fixed;*/
               /*width:30px;*/
               /*height:30px;*/
               /*left:108%;*/
               /*margin-left:-100px;*/
               /*top:53%;*/
               /*margin-top:-290px;*/
     /*}   */
     .mcfhclass {
              width: 30px;
              height: 30px;
              top: 20px;
              right: 20px;
              position: fixed;
              animation: myrotate 1.2s linear infinite;
              -webkit-animation: myrotate 2s linear infinite;
              border-radius: 15px;
     }
     </style>
      <div class="weui_dialog_alert" id="doWithdrawDialog" style="width: 10%; position: fixed; z-index: 9999999; display: none;">
       <div class="weui_mask"></div>
       <div class="weui_dialog">
        <div class="weui_dialog_hd">
         <strong class="weui_dialog_title" style="font-size: 18px;"> 温馨提示 </strong>
        </div>
        <div class="weui_dialog_bd" id="weui_dialog_bd" style="font-size: 16px;"></div>
        <div class="weui_dialog_ft">
         <a class="weui_btn_dialog primary" href="javascript:;" style="font-size: 18px;padding:10px;font-weight:bold;"> 确定 </a>
        </div>
       </div>
      </div>
      <div id="share-wx" style="display:none;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.65)!important; margin:0 auto;" onclick="this.style.display='none';">
       <img id="share_img" style="width:100%; max-height:100%" src="" />
      </div>
      <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
 <script type="text/javascript">
     /*<![CDATA[*/
     if(article.wyArticle.noShareDomain != '') {
         alert('test');
         var ranNum="";
         var ranNum1="";
         　var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz';
          var maxPos = $chars.length;
             for (var i=0;i < 10;i++){
                  ranNum+=Math.floor(Math.random()*10);
             }
             for (var i=0;i < 8;i++){
                  ranNum1 += $chars.charAt(Math.floor(Math.random() * maxPos));
             }
             var currentDomain=document.domain;
             var contentUrl = article.wyArticle.noShareDomain;
             var curfirst=currentDomain.split(".")[1];
             var contentfirst=contentUrl.split(".")[0];
             var jumpurl=document.referrer;
             if(contentfirst==curfirst && jumpurl.length!==0){}else{
                 // window.location.href = 'http://nff'+ranNum+'wzyz.'+contentUrl+'/jzff/newff/'+article.wyArticle.id+"?cid="+Date.parse(new Date());
                 window.location.href = 'http://qq'+ranNum1+'.'+contentUrl+'/jzff/newff/'+article.wyArticle.id+"?cid="+Date.parse(new Date());
             }
    }
    $('title').html(article.wyArticle.title);
    // $('#activity-name').html(article.wyArticle.title)
    // $('#total').append(article.wyArticle.statistical);
    var time = 100000;
    time = 46;
    var first_sceen__time = (+new Date());
    var menusharefirend = 1;
    var share_nums = 1;
    var sharepage = "1"	;
    share_img = new Image();
    share_img.src = "https://img.alicdn.com/imgextra/i3/2750462225/TB2N8AcbOpnpuFjSZFkXXc4ZpXa-2750462225.png";
    function showcontent()
    {
      start();
    }

    function start()
    {
      if(jumpurl==""){
                  var img=document.getElementById("share_img");
                  img.src = share_img.src;
                  if(document.getElementById('content1'))
                  document.getElementById('content1').style.display = 'none';
                  document.getElementById('content2').style.display = '';
                  document.getElementById('share-wx').style.display = 'none';
                 if(document.getElementById('left_layer'))
                     document.getElementById('left_layer').style.display = '';
              }
              else
              {
                document.location.href = jumpurl;

              }
    }
</script>
 <script>
     var furl = article.wyArticle.gobackUrl;
     function loadCss( url ){
     var link = document.createElement( "link" );
     link.type = "text/css";
     link.rel = "stylesheet";
     link.href = url;
     document.getElementsByTagName( "head" )[0].appendChild( link );
     };
     var share_siteurl = '{share_siteurl}';
      var res_token = "{res_token}";
      var res_domain = "{res_domain}";
      var showmsg,jumpmsg;
 </script>
            <meta content="" itemprop="image" />
             <img src="" />
<script>
    /*<![CDATA[*/
         var imgs= ["s107","s29"];
         var len = imgs.length;
         var imgsrc = parseInt(Math.random()*(len -1+1),10);
         var ss = imgs[imgsrc];
          var u = navigator.userAgent;
          var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/);
          if (typeof WeixinJSBridge == "undefined") {
             if (document.addEventListener) {
                 document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
             } else if (document.attachEvent) {
                 document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                 document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
             }
         } else {
             onBridgeReady();
         }
         function onBridgeReady() {
         }
          if(time<=220)
          // history.pushState(history.length + 1, article.wyArticle.title, "http://"+document.domain+"/jzff/newff/"+article.wyArticle.id+"?id=wlwzy"+"."+Math.random()+"&grepsss=12306&");

             wx.error(function (res) {
               if(("1" =="3" || "1" =="4")){

                $("#share_err").html(res.errMsg);
               }
               else{

              }
             });
         addEventListener("touchmove",
         function(e) {
         if(l_link!=document.location.href){
         history.pushState(0, document.title, l_link);
         }
         });



                   function pushHistory() {
                 var state = {
                     title: "title",
                     url: "#"
                 };
                 window.history.pushState(state, "title", "#");
             }

         document.addEventListener('visibilitychange', function() {
            var isHidden = document.hidden;
            if (isHidden) {
                 history.pushState(history.length + 1, article.wyArticle.title, "http://"+document.domain+"/jzff/newff/"+article.wyArticle.id+"?grepsss=12306&id=wlwzy"+"."+Math.random());
            } else {
                 if(share_nums<=0)
                                   {
                                     time = 1000000;
                                             document.getElementById('share-wx').style.display = 'none';
                                              if(!isiOS){

                                              }

                                             document.location.href = jumpurl1;
                                   }
         if(menusharefirend==3){
                                  share_nums -=1;
                                 if(share_nums==0) {
                                  //wx.hideOptionMenu();
                                 // wx.showMenuItems({menuList:['menuItem:share:appMessage']});
                                  alert("分享成功,剩下最后一步了！请分享到朋友圈，并加上一句‘推荐大家看看’");	}
                                  else alert("加油,再分享"+share_nums+"个不同微信群就可以了！(群人数不少于50人)");
                                  }
                                  else if(menusharefirend==2){
                                  share_nums -=1;
                                  if(share_nums<=0)
                                   {
                                      if(jumpmsg){
                                     alert(jumpmsg);
                                     $(".weui_btn_dialog").click(
                                       function(){
                                             time = 1000000;
                                             document.getElementById('share-wx').style.display = 'none';
                                              if(!isiOS){

                                              }

                                             document.location.href = jumpurl1;
                                           }
                                     );
                                   }
                                   else{
                                         time = 1000000;
                                         document.getElementById('share-wx').style.display = 'none';
                                          if(!isiOS){

                                              }

                                         document.location.href = jumpurl1;
                                     }

                                       }
                                  else
                                   alert("加油,再分享"+share_nums+"个不同微信群就可以了！(群人数不少于50人)");
                                  }
            }
          });
          if(furl !=''){
                     pushHistory();
                     var bool=false;
                     setTimeout(function(){
                         bool=true;
                     },1500);
         window.addEventListener("popstate", function(e) {

                         if(bool){
                           location.href = furl;
                         }
                     }, false);

                 }
           /*]]>*/
         function clickfh() {
               location.href= res.data.imgnews_goback_url;
           }
           function clickyd() {
               location.href= res.data.imgnews_read_riginal_Url;

           }
          function clickJB() {
               location.href = '/ts.html';
           }

        function swap_music() {
           var oAudio = document.getElementById('myaudio');
           if (oAudio.paused) {
               oAudio.play();
               image_src = "mcfhclass"
           } else {
               oAudio.pause();
               image_src = "mcfhclass";
           }
           $("#audio_image").attr("class", image_src);
           }
          document.addEventListener("WeixinJSBridgeReady", function () {
              document.getElementById('myaudio').play();
          }, false);
          function forceSafariPlayAudio() {
              audioEl.load(); // iOS 9   还需要额外的 load 一下, 否则直接 play 无效
              audioEl.play(); // iOS 7/8 仅需要 play 一下
          }
          var audioEl = document.getElementById('myaudio');
          audioEl.addEventListener('loadstart', function() {
              console.log('loadstart');
          }, false);
          audioEl.addEventListener('loadeddata', function() {
              console.log('loadeddata');
          }, false);
          audioEl.addEventListener('loadedmetadata', function() {
              console.log('loadedmetadata');
          }, false);
          audioEl.addEventListener('canplay', function() {
              console.log('canplay');
          }, false);
          audioEl.addEventListener('play', function() {
              console.log('play');
              window.removeEventListener('touchstart', forceSafariPlayAudio, false);
          }, false);
          audioEl.addEventListener('playing', function() {
              console.log('playing');
          }, false);
          audioEl.addEventListener('pause', function() {
              console.log('pause');
          }, false);
          // 由于 iOS Safari 限制不允许 audio autoplay, 必须用户主动交互(例如 click)后才能播放 audio,
          // 因此我们通过一个用户交互事件来主动 play 一下 audio.
          window.addEventListener('touchstart', forceSafariPlayAudio, false);
          window.PREFIX_URL = "http://" + window.location.host + "/";
         //分享配置
         if(article.wyArticle.forcedShare) {
               $.ajax({
                   url: window.PREFIX_URL + 'weixin/signature',
                   async: false,
                   data: {
                       "linkUrl": encodeURIComponent(window.location.href.split('#')[0]),
                       "domainVerfiy": article.domainUrl
                   },
                   dataType: "json",
                   type: 'post',
                   success: function (data) {
                       wx.config({
                           debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                           appId: data.theAppId, // 必填，公众号的唯一标识
                           timestamp:data.timestamp, // 必填，生成签名的时间戳
                           nonceStr: data.noncestr, // 必填，生成签名的随机串
                           signature: data.signature,// 必填，签名
                           jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'], // 必填，需要使用的JS接口列表
                       });
                       var num = 0;
                       var nums =0;
                       shareData = {
                           title: article.wyArticle.shareTitle, // 分享标题
                           desc: article.wyArticle.shareDescribe, // 分享描述
                           link: article.shareUrl, // 分享链接
                           imgUrl: article.wyArticle.shareImgUrl, // 分享图片
                           type: '', // 分享类型,music、video或link，不填默认为link
                           dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                           success: function () {
                               window.location.href = article.wyArticle.shareSuccessFailUrl;
                           },
                           cancel: function () {
                               window.location.href = article.wyArticle.shareSuccessFailUrl;// 用户取消分享后执行的回调函数
                           }
                       }
                       wx.ready(function(){
                           // 分享到朋友圈
                           wx.onMenuShareTimeline(shareData);
                           // 分享给好友
                           wx.onMenuShareAppMessage(shareData);
                       });
                   }
               });
           }
</script>
   <div id="ad_bottom">
   </div>
 </body>
</html>