<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
    <head th:replace="common/common_header :: common_header">
        <title>欢迎页面-WS-admin1.0</title>
    </head>
    <body>
    <div class="x-body layui-anim layui-anim-up">
        <blockquote class="layui-elem-quote">欢迎管理员：
            <span class="x-red">admin</span>&nbsp;&nbsp;当前时间：<span style="color: #c62b26" th:text="${#dates.format(currentTime,'yyyy/MM/dd HH:mm:ss')}"></span></blockquote>
        <fieldset class="layui-elem-field">
            <legend>系统通知</legend>
            <div class="layui-field-box">
                <table class="layui-table" lay-skin="line">
                    <tbody th:if="${not #lists.isEmpty(wyOrderLogs)}" th:each="wyOrderLog,iterStat:${wyOrderLogs}">
                        <tr>
                            <td >
                                <span> 点击下单界面时间：</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><span style="color: #1AA093" th:text="${#dates.format(wyOrderLog.createTime,'yyyy/MM/dd HH:mm:ss')}"></span></strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
             <blockquote class="layui-elem-quote" style="font-size: 25px">
                      订单日志列表: <span style="color: #c09853;cursor:pointer" onclick="clearOrder()">&nbsp;&nbsp;清除订单信息</span>
             </blockquote>
             <div class="layui-field-box">
                <table class="layui-table" lay-skin="line">
                    <tbody th:if="${not #lists.isEmpty(orderlist)}" th:each="order,iterStat:${orderlist}">
                        <tr>
                            <td >
                                <span> 订单日志：</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><span style="color: #1AA093"  th:text="${#dates.format(order.orderDate,'yyyy/MM/dd HH:mm:ss')}"></span>
                                        <br/><br/><span th:text="${order.name}" style="color: #c81623;font-size: 25px"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a th:href="'http://www.ip138.com:8080/search.asp?mobile='+${order.phone}+'&amp;action=mobile'" target="_blank" style="text-decoration:underline"><span style="color: #331de3;font-size: 17px" th:text="${order.phone}"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#331de3;font-size: 17px" th:text="${order.province} + ${order.city}+ ${order.county}+${order.address}"></span>
                                        &nbsp;<span style="color: #331de3;font-size: 17px" th:text="${order.size}"></span>&nbsp;&nbsp;&nbsp;<span style="color: #331de3;font-size: 17px" th:text="${order.title}"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #331de3;font-size: 17px" th:text="${order.message}"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 15px">下单IP: </span><a th:href=" 'http://www.ip138.com/ips138.asp?ip='+${order.ip}" style="text-decoration:underline;" target="_blank"><span style="color: #331de3;font-size: 17px" th:text="${order.ip}"></span></a>
                                </strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </fieldset>
         <blockquote class="layui-elem-quote" style="font-size: 25px">
                        访问ip量: <span class="x-red" th:text="${realIp}"></span>&nbsp;&nbsp; <span style="color: #c09853;cursor:pointer" onclick="clearIps()">清空</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        当前每分钟ip量: <span class="x-red" th:text="${minsetIp}"></span>
          </blockquote>
          <div class="layui-field-box">
              <table class="layui-table" lay-skin="line">
                  <tbody th:if="${not #lists.isEmpty(minipCountList)}" th:each="ipStr,iterStat:${minipCountList}">
                      <tr>
                          <td >
                              <span> 每分钟ip统计：</span> <span style="color: #1AA093;font-size: 17px" th:text="${ipStr}"></span>
                          </td>
                      </tr>
                  </tbody>
                </table>
           </div>
          <br/>
        <fieldset class="layui-elem-field">
            <legend>开发团队</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <tbody>
                        <tr>
                            <th>版权所有</th>
                            <td>xxxxx(xxxx)
                                <a href="http://www.xxx.com/" class='x-a' target="_blank">访问官网</a></td>
                        </tr>
                        <tr>
                            <th>开发者</th>
                            <td>bray(1318134732@qq.com)</td></tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <blockquote class="layui-elem-quote layui-quote-nm">感谢layui,百度Echarts,jquery,本系统由x-admin提供技术支持。</blockquote>
    </div>
    <script>
        function clearIps() {
             $.ajax({
                    url: '/index/clear-ip',
                    async: false,
                    dataType: "json",
                    type: 'post',
                    success: function (data) {
                        // alert('chnegogn')
                        layer.msg("清除完毕...", {icon: 1}, function (index) {
                            layer.close(index);
                            //关闭当前frame
                            parent.layer.close(index);
                            window.parent.location.reload(true);
                        });
                    },
                });
        }
        function clearOrder() {
             $.ajax({
                    url: '/index/clear-order',
                    async: false,
                    dataType: "json",
                    type: 'post',
                    success: function (data) {
                        // alert('chnegogn')
                        layer.msg("清除完毕...", {icon: 1}, function (index) {
                            layer.close(index);
                            //关闭当前frame
                            parent.layer.close(index);
                            window.parent.location.reload(true);
                        });
                    },
                });
        }

</script>
    </body>
</html>