<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
    <head th:replace="common/common_header :: common_header">
        <title>欢迎页面-WS-admin1.0</title>
    </head>
    <body>
    <div class="x-body layui-anim layui-anim-up">
        <blockquote class="layui-elem-quote">欢迎管理员：
            <span class="x-red">admin</span>&nbsp;&nbsp;当前时间：<span style="color: #c62b26" th:text="${#dates.format(currentTime,'yyyy/MM/dd HH:mm:ss')}"></span></blockquote>
        <fieldset class="layui-elem-field">
            <legend>系统通知</legend>
            <div class="layui-field-box">
                <table class="layui-table" lay-skin="line">
                    <tbody th:if="${not #lists.isEmpty(wyOrderLogs)}" th:each="wyOrderLog,iterStat:${wyOrderLogs}">
                        <tr>
                            <td >
                                <span> 点击下单界面时间：</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><span style="color: #1AA093" th:text="${#dates.format(wyOrderLog.createTime,'yyyy/MM/dd HH:mm:ss')}"></span></strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
             <div class="layui-field-box">
                <table class="layui-table" lay-skin="line">
                    <tbody th:if="${not #lists.isEmpty(orderlist)}" th:each="order,iterStat:${orderlist}">
                        <tr>
                            <td >
                                <span> 订单日志：</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><span style="color: #1AA093"  th:text="${#dates.format(order.orderDate,'yyyy/MM/dd HH:mm:ss')}"></span>
                                        <br/><br/><span th:text="${order.name}" style="color: #c81623;font-size: 25px"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #331de3;font-size: 17px" th:text="${order.phone}"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#331de3;font-size: 17px" th:text="${order.province} + ${order.city}+ ${order.county}+${order.address}"></span>
                                        &nbsp;<span style="color: #331de3;font-size: 17px" th:text="${order.size}"></span>&nbsp;&nbsp;&nbsp;<span style="color: #331de3;font-size: 17px" th:text="${order.title}"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #331de3;font-size: 17px" th:text="${order.message}"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 15px">下单IP: </span><a th:href=" 'http://www.ip138.com/ips138.asp?ip='+${order.ip}" style="text-decoration:underline;" target="_blank"><span style="color: #331de3;font-size: 17px" th:text="${order.ip}"></span></a>
                                </strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </fieldset>
          <blockquote class="layui-elem-quote" style="font-size: 25px">
                访问总量: <span class="x-red" th:text="${totalVisit}"></span>
                &nbsp;&nbsp;安卓设备占比:<span style="color: #c62b26;font-size: 25px" th:text="${percentAndroid}+'%' "></span>
                &nbsp;&nbsp;苹果设备占比:<span style="color: #c62b26;font-size: 25px" th:text="${percentIos}+'%' "></span>
                &nbsp;&nbsp;其他设备占比:<span style="color: #c62b26;font-size: 25px" th:text="${percentOther}+'%' "></span>
          </blockquote>
          <br/>
          <div class="layui-field-box">
              <table class="layui-table" lay-skin="line">
                  <tbody th:if="${not #lists.isEmpty(fromAndroidList)}" th:each="androidStr,iterStat:${fromAndroidList}">
                      <tr>
                          <td >
                              <span>安卓访问日志：</span> <span style="color: #331de3;font-size: 17px" th:text="${androidStr}"></span>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="layui-field-box">
            <table class="layui-table" lay-skin="line">
                <tbody th:if="${not #lists.isEmpty(fromIphoneList)}" th:each="iosStr,iterStat:${fromIphoneList}">
                    <tr>
                        <td >
                            <span> 苹果访问日志：</span> <span style="color: #331de3;font-size: 17px" th:text="${iosStr}"></span>
                        </td>
                    </tr>
                </tbody>
              </table>
         </div>
         <div class="layui-field-box">
             <table class="layui-table" lay-skin="line">
                 <tbody th:if="${not #lists.isEmpty(fromOtherList)}" th:each="otherStr,iterStat:${fromOtherList}">
                     <tr>
                         <td >
                             <span> 其他访问日志：</span> <span style="color: #331de3;font-size: 17px" th:text="${otherStr}"></span>
                         </td>
                     </tr>
                 </tbody>
               </table>
          </div>
        <fieldset class="layui-elem-field">
            <legend>开发团队</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <tbody>
                        <tr>
                            <th>版权所有</th>
                            <td>xxxxx(xxxx)
                                <a href="http://www.xxx.com/" class='x-a' target="_blank">访问官网</a></td>
                        </tr>
                        <tr>
                            <th>开发者</th>
                            <td>bray(1318134732@qq.com)</td></tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <blockquote class="layui-elem-quote layui-quote-nm">感谢layui,百度Echarts,jquery,本系统由x-admin提供技术支持。</blockquote>
    </div>
    </body>
</html>