<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head></head>
<body>
 <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 0px; line-height: 1.6; max-width: 100%; text-align: center; white-space: normal; widows: 1; padding: 0px; color: rgb(85, 85, 85); font-family: &quot;Helvetica Neue&quot;, Helvetica, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);" th:if="${not #lists.isEmpty(article.wyArticleImgs)}" th:each="wyArticleImg,iterStat:${article.wyArticleImgs}">
    <img alt="" src="https://p.qpic.cn/pic_wework/4229309850/14128d18e38c8806b65b75107c237783c5cafcc93c3184fa/0" th:src="${wyArticleImg.thirdImgPath}" width="685" />
 </p>
  <a th:if="${article.wyArticle.isOrderImg}" href="http://dja8el.cn/order/jump-story1">
      <img src="https://pub-files.jinshuju.net/di/20181021193347_c255c2" width="685"/>
  </a>
</body>
</html>